#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: -1;
  background-color: #333;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(../img/gradient_a70.png);
  z-index: -1;
}

body {
  background-color: rgb(255, 252, 248);
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: transparent url(../img/gradient_a70.png) repeat-x 0 0;
  opacity: 0.8;
  z-index: 1;
}

h1 a,
h2 a,
h3 a {
  color: #404040;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #888;
}

.dark {
    color: #FFFCF8;
}

.fill-black {
  background-color: #000;
}

.fill-dark {
    background-color: #222;
}

.fill-light {
  background-color: rgb(255, 252, 248);
  background-color: rgba(255, 252, 248, 0.9);
}

header {
  border-bottom: 1px solid #CCC;
  box-shadow: rgba(0,0,0,0.25) 0 0 10px 3px;
}
  header .nav {
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  header a {
    color: #758B54;
  }
  header a:hover,
  header a.active,
  strong {
    color: #F8AA04;
  }
  header a:active {
    color: #758B54;
  }

footer {
    text-align: center;
    padding: 20px 0;
}

footer a {
    display: inline-block;
    border: 1px solid transparent;
}

footer a:hover {
    border: 1px solid #DDD;
}

section {
    padding: 40px 0;
}

.content {
  box-shadow: rgba(0,0,0,0.25) 0 6px 10px 4px;
}

.slide {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

ol.list-style,
ul.list-style {
  list-style: square inside none;
  padding: 0 0 20px 20px;
}
  ol.list-style,
  ul.list-style {
    line-height: 2em;
  }
  p.list-style {
    margin-bottom: 6px;
  }



/*.header, .contentbar-header {
    height: 60px;
    border-bottom: 1px solid #CCC;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0,0,0,0.25) 0 0 10px 3px;
    background-color: #000;
}

.header .title, .header .landing-title, .header .nav,
.contentbar-header .title {
    color: rgb(250, 244, 236);
    height: 100%;
}

.header .nav:hover {
    color: #798A69;
}

.header .title,
.contentbar-header .title {
    float: left;
    padding-left: 12px;
    margin-bottom: 0;
}

.header .nav {
    float: right;
    margin-right: 28px;
    padding: 12px 0;
    font-size: 125%;
    font-family:'Open Sans Bold', sans-serif;
}

.contentbar {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 360px;
    width: 30%;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    box-shadow: rgba(0,0,0,0.25) 0 0 10px 4px;
}

.limiter,
.contentbar.limiter {
    right: 0;
    width: 80%;
    max-width: 1000px;
    min-width: 840px;
    margin: 0 auto;
    border-left: 2px solid #CCC;
}

.contentbar-header .landing-title a {
    font-family: 'Open Sans Bold', sans-serif;
    color: #FFFFFF;
}

.contentbar-header .landing-title a:hover {
    color: #798A69;
}*/

.contentbar-fill {
    /*position: relative;*/  /* can't scroll w/ position: relative and z-index: -1; re-activate if this needs relative positioning */
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.9);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    transition: height 0.2s ease;
    z-index: -1;
}

/*intro blurbs.  [landing page, and where else?]*/
.main-panel.intro {
    display: none;
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.9);

/*    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    transition: height 0.2s ease;
*/}

.main-panel.intro.active{
    display: block;
}

.intro .titlefloat {
    float: left;
    margin-right: 16px;
    margin-bottom: 12px;
    width: 22%;
}

.intro h1 {
    text-align: right;
}

.intro p {
    padding-top: 6px;
}

/***********************Menus***********************/
/*boxmenu*/
.boxmenu {
    clear: both;
}

.boxmenu.shadow {
    box-shadow: rgba(0,0,0,0.2) 0px 2px 4px 0px;
    position: relative;
}

.boxmenu li {
    /*float left or display inline-block and set li { letter-spacing: 0;}, ul { whitespace: nowrap; letter-spacing: -4px; }, and remove ul's clearfix*/
    float: left;
    /*display: inline-block;*/
    border: 1px solid #AAA;
    border-left: 0;
}

.boxmenu li:last-child {
    border-right: 0;
}

.boxmenu li a {
    /* made sure anchor text doesn't wrap, or explicitly change top/bottom padding on text wrap, or set a { display: table-cell; height: 48px; width: 9999px; } and deal with whitespace*/
    display: block;
    background-color: #C5CDAC;
    color: #333;
    padding: 12px 0;
    text-align: center;
    font-family: 'Open Sans Bold', sans-serif;
}

.boxmenu li a:hover {
    background-color: #798A69;
    color: rgb(255, 252, 248);
}

.boxmenu li a:active {
    background-color: rgb(255, 252, 248);
    color: #EE9A00;
}

.boxmenu li a.active {
    background-color: rgb(255, 252, 248);
    color: #333;
}

.boxmenu li a.two-line {
    padding: 2px 0;
}

.boxmenu.width-1 > li {
    width: 100%;
}

.boxmenu.width-2 > li {
    width: 50%;
}

.boxmenu.width-3 > li {
    width: 33%;
}

.boxmenu.width-3 > li:last-child {
    width: 34%;
}

.boxmenu.width-4 > li {
    width: 25%;
}

.boxmenu.width-5 > li {
    width: 20%;
}

.boxmenu.width-6 > li {
    width: 17%;
}

.boxmenu.width-6 > li:first-child, .boxmenu.width-6 > li:last-child {
    width: 16%;
}

.boxmenu.width-7 > li {
    width: 14%;
}

.boxmenu.width-7 > li:first-child, .boxmenu.width-7 > li:last-child {
    width: 15%;
}


/*pillmenu*/
.pillmenu {
    border-bottom: 1px solid #CCC;
    margin-bottom: 4px;
    text-align: center;
}

.pillmenu li {
    display: inline-block;
    margin-bottom: 10px;
}

.pillmenu li a {
    background-color: #CCC;
    color: #333;
    margin-left: 2px;
    padding: 2px 10px;
    border-radius: 2px;
    border: 1px solid #BBBBBB;
}

.pillmenu li a:hover {
    background-color: #777;
    color: #DDD;
    border: 1px solid #777777;
}

.pillmenu li a:active {
    background-color: #798A69;
    color: #FFFFFF;
    border: 1px solid #777777;
}

.pillmenu li a.active {
    background-color: #C5CDAC;
    color: #333;
    border: 1px solid #999;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
}


/*listmenu*/
.listmenu {
    margin: 0 14px 8px;
}

.listmenu li {
    margin-bottom: 4px;
}

.listmenu li a {
    display: block;
    border: 1px solid #CCC;
    border-top: 0;
    border-right: 0;
    padding: 2px 2px 0 4px;
    color: #333;
    font-size: 0.8em;
}

.listmenu li a:hover {
    background-color: #666;
    color: #DDD;
}

.listmenu li a:active,
.listmenu li a.active {
    color: #EE9A00;
}


/*thumb menu*/
.thumb-menu {
    margin: 24px 40px;
}

.thumb-menu li {
    margin-bottom: 8px;
}

.thumb-menu li .thumbnail {
    position: relative;
    width: 200px;
    height: 140px;
    border: 1px solid #aaa;
    float: left;
    margin-right: 12px;
}

.thumb-menu li .shadow {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.thumb-menu li:hover .shadow {
    background: transparent;
}

.thumb-menu li .description {
    position: relative;
    height: 140px;
    color: #404040;
    color: rgba(0,0,0,0.75);
}

.thumb-menu li .description h2 {
    margin-bottom: 12px;
    padding: 0;
}

.thumb-menu li .description p {
    height: 60px;
    overflow: hidden;
    text-align: justify;
}

.thumb-menu li p:after {
    content: "... View Project";
    position: absolute;
    top: 122px;
    right: -1000px;
    -webkit-transition: right 0.2s ease;
    -moz-transition: right 0.2s ease;
    -o-transition: right 0.2s ease;
    -ms-transition: right 0.2s ease;
    transition: right 0.2s ease;
}

.thumb-menu li:hover p:after {
    right: 0;
}

.thumb-menu li .description.more {
    height: auto;
}

.thumb-menu.centered li {
    height: auto;
    border: 1px solid #CCC;
    margin: 12px 60px;
}

.thumb-menu.centered li a {
    display: block;
    height: 96px;
    padding: 8px 0;
}

.thumb-menu.centered li a:hover {
    border: 1px solid #999;
}


/**************************Panels**************************/
.main-panel {
    display: none;
    padding: 20px 24px;
}

.main-panel.active {
    display: block;
    clear: both;
}

.contentbar.limiter .main-panel p.description {
    padding: 0 40px 18px;
    border-bottom: 2px solid #CCC;
}

/******************** REDD Project Sites ********************/
.minor-panel {
    background-color: rgb(206, 196, 180);
    background-color: rgba(87, 70, 41, 0.37);
    padding: 8px;
    border: 1px solid #888;

    /*no transition*/
    display: none;

    /*vertical expand*/
/*    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;*/
}

.minor-panel.active {

    /*no transition*/
    display: block;

    /*vertical expand*/
/*    height: auto;
    max-height: 300px;
    overflow: auto;*/
}

.minor-panel ul {
    padding: 4px;
    margin: 2px;
}

.minor-panel ul p {
    font-size: 12px;
    line-height: 16px;
}

.minor-panel li {
    border-bottom: 1px solid #888;
}

.minor-panel li .title {
    float: left;
    width: 20%;
    color: #606060;
}

.minor-panel li .content {
    /*float: left;*/
}

.minor-panel li .content a {
    display: block;
    float: left;
    width: 40%;
    cursor: pointer;
}


/******************** Blog ********************/
.blog-post {
    margin: 8px 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid #BBB;
}

.blog-post:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.blog-post .image-border {
    float: left;
    width: 44%;
    margin-right: 12px;
    padding: 4px 6px 6px 4px;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

.blog-post .image-border.center {
    float: none;
    margin: 0 auto 18px;
    width: 700px;
    max-width: 100%;
    border-right: 0;
    border-top: 1px solid #BBB;
}

.blog-post .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blog-post .image-border,
.blog-post img {
    height: 280px;
}

.blog-post .title {

}

.blog-post .title a {
    color: #404040;
}

.blog-post .title a:hover {
    color: #404040;
    text-decoration: underline;
}
.blog-post .date {
    position: relative;
    left: 22px;
    margin-bottom: 12px;
    font-family:'Open Sans Italic', sans-serif;
    color: #5f5f5f;
}

.blog-post .date.center {
    position: static;
}

.blog-post .post_content {

}

.blog-post .more {
    float: right;
    margin-right: 18px;
}



/*********************** Media ***********************/
.slideshow {
    position: relative;
    width: 100%;
    height: 340px;
}

.slide-control {
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
    .slide-control[data-slide="right"] {
        right: 0;
    }
    .slide-control[data-slide="left"] {
        left: 0;
    }
    .slide-control[data-slide="right"] span {
        left: 18px;
    }
    .slide-control[data-slide="left"] span {
        right: 8px;
    }
    .slide-control[data-slide="right"]:hover,
    .slide-control[data-slide="left"]:hover {
        background: rgba(0,0,0,0.2);
    }
    .slide-control span {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        color: white;
    }
    .slide-control:hover span {
        color: orange;
    }

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0;
}
    .slide.active {
        opacity: 1;
    }
    .slide div {
        z-index: 1;
    }

/*********************** UI Controls ***********************/
.leaflet-top.leaflet-right{
    top: 44px;
}



/******************************* Language Widget *******************************/
.widget-ui {
    float: right;
    background-color: white;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 7px 10px 0 0;
}

.widget-ui a {
    width: 26px;
    height: 26px;
    border-bottom: 1px solid #DDD;
    display: block;
    color: #404040;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 2px 0;
}

.widget-ui.horizontal a {
    float: left;
    border-bottom: none;
    border-right: 1px solid #DDD;
}

.widget-ui a:hover {
    background-color: white;
    color: #404040;
}

.widget-ui a:active {
    color: orange;
}

.widget-ui a.active {
    background-color: #F0F0F0;
    color: orange;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.15);
}

.widget-ui a:first-child {
    border-radius: 3px 3px 0 0;
}

.widget-ui a:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: none;
}

.widget-ui.horizontal a:first-child {
    border-radius: 3px 0 0 3px
}

.widget-ui.horizontal a:last-child {
    border-radius: 0 3px 3px 0;
    border-right: none;
}



/******************************* Map Legends *******************************/
.leaflet-container a {
    color: #5A6943;
}

.leaflet-container a:hover {
    color: #2A3508;
    text-decoration: underline;
}

.map-legends {
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.9);
    border-radius: 0;
    box-shadow: rgba(0,0,0,0.25) 0 0 10px 4px;
}


.map-legend {
    width: 268px;
    display: none;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    transition: height 0.2s ease;
}
  .map-legend.active{
      display: block;
  }
  .map-legend > h3 {
      font: 18px/28px 'Open Sans Bold', sans-serif;
      text-align: center;
      border-bottom: 2px solid #999;
  }
  .moabi-legend {
      display: none;
      height: 0;
      position: relative;
      margin-bottom: 8px;
      padding-left: 12px;
  }
  .moabi-legend.active {
      display: block;
      height: auto;
      cursor: pointer;
  }

.moabi-legend h1,
.moabi-legend h2,
.moabi-legend h3,
.moabi-legend h4,
.moabi-legend h5,
.moabi-legend h6 {
    font: 15px/18px 'Open Sans Bold', sans-serif;
    text-align: center;
    margin-bottom: 4px;
}

.moabi-legend .legend-category .symbol {
    height: 20px;
    width: 30px;
    float: left;
    margin-right: 8px;
    border: 1px solid #888;
}

.moabi-legend .legend-category .value {
    font-size: 14px;
    line-height: 22px;
}


/*.moabi-legend .legend-graduated ul {
    display: inline-block;
    width: 100%;
}

.moabi-legend .legend-graduated ul li {
    display: block;
    float: left;
    text-align: center;
}

.moabi-legend .legend-graduated li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    background: #999;
}*/

.moabi-legend .legend-table {
    font: 12px/16px 'Open Sans', sans-serif;
    margin-bottom: 8px;
}

.moabi-legend .legend-table th {
    width: 33%;
}

.moabi-legend .legend-table td {
    font-size: 0.9em;
    line-height: 1.2em;
    width: 33%;
}

.moabi-legend .legend-table td:first-child {
    text-align: right;
    padding-right: 4px;
}


.moabi-legend .source {
    font-size: 0.7em;
    line-height: 1.6em;
    color: #777;
    margin-top: -4px;
}

.moabi-legend .source span {
    font-family: 'Open Sans Bold Italic', sans-serif;
}



/******************** Icons ********************/
.arrow.up {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #555;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
}

.arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow.left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.arrow.right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@font-face {
    font-family: 'Icon-Set';
    src:url('../fonts/icon.eot?-shfr1q');
    src:url('../fonts/icon.eot?#iefix-shfr1q') format('embedded-opentype'),
        url('../fonts/icon.woff?-shfr1q') format('woff'),
        url('../fonts/icon.ttf?-shfr1q') format('truetype'),
        url('../fonts/icon.svg?-shfr1q#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before,
.rcon:after {
    font: 15px/20px 'Icon-Set';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* experimental */
    margin-right: 2px;
    position: relative;
    top: 1px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    .icon.float:before {
        float: left;
    }
    .rcon.float:after {
        float: right;
    }

.icon.big:before,
.rcon.big:after {
    font: 30px 'Icon-Set';
}

/*.rcon:after,
.icon:before {
    font: 22px/0.4 'EntypoRegular';
    height: 18px;
    width: 14px;
    margin-right: 2px;
    vertical-align: 0;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
}

.rcon.big:after,
.icon.big:before {
    font: 48px/.75 'EntypoRegular';
    height: 36px;
    width: 32px;
    margin-right: 5px;
    vertical-align: -2px;
}
*/

.icon.mobile:before { content: "\e600" }
.icon.mail:before { content: "\e601" }
.icon.pencil:before { content: "\e602" }
.icon.paperclip:before { content: "\e603" }
.icon.drawer:before { content: "\e604" }
.icon.reply:before { content: "\e605" }
.icon.reply-all:before { content: "\e606" }
.icon.forward:before { content: "\e607" }
.icon.user:before { content: "\e608" }
.icon.users:before { content: "\e609" }
.icon.user-add:before { content: "\e60a" }
.icon.vcard:before { content: "\e60b" }
.icon.export:before { content: "\e60c" }
.icon.location:before { content: "\e60d" }
.icon.map:before { content: "\e60e" }
.icon.compass:before { content: "\e60f" }
.icon.location2:before { content: "\e610" }
.icon.share:before { content: "\e611" }
.icon.sharable:before { content: "\e612" }
.icon.thumbs-up:before { content: "\e613" }
.icon.thumbs-down:before { content: "\e614" }
.icon.chat:before { content: "\e615" }
.icon.house:before { content: "\e616" }
.icon.comment:before { content: "\e617" }
.icon.search:before { content: "\e618" }
.icon.printer:before { content: "\e619" }
.icon.link:before { content: "\e61a" }
.icon.cog:before { content: "\e61b" }
.icon.tools:before { content: "\e61c" }
.icon.tag:before { content: "\e61d" }
.icon.camera:before { content: "\e61e" }
.icon.megaphone:before { content: "\e61f" }
.icon.moon:before { content: "\e620" }
.icon.palette:before { content: "\e621" }
.icon.leaf:before { content: "\e622" }
.icon.music:before { content: "\e623" }
.icon.book:before { content: "\e624" }
.icon.graduation:before { content: "\e625" }
.icon.newspaper:before { content: "\e626" }
.icon.bag:before { content: "\e627" }
.icon.airplane:before { content: "\e628" }
.icon.lifebuoy:before { content: "\e629" }
.icon.eye:before { content: "\e62a" }
.icon.clock:before { content: "\e62b" }
.icon.microphone:before { content: "\e62c" }
.icon.calendar:before { content: "\e62d" }
.icon.bolt:before { content: "\e62e" }
.icon.thunder:before { content: "\e62f" }
.icon.droplet:before { content: "\e630" }
.icon.briefcase:before { content: "\e631" }
.icon.air:before { content: "\e632" }
.icon.hourglass:before { content: "\e633" }
.icon.gauge:before { content: "\e634" }
.icon.key:before { content: "\e635" }
.icon.battery:before { content: "\e636" }
.icon.bucket:before { content: "\e637" }
.icon.magnet:before { content: "\e638" }
.icon.brush:before { content: "\e639" }
.icon.suitcase:before { content: "\e63a" }
.icon.keyboard:before { content: "\e63b" }
.icon.browser:before { content: "\e63c" }
.icon.publish:before { content: "\e63d" }
.icon.progress-3:before { content: "\e63e" }
.icon.progress-2:before { content: "\e63f" }
.icon.brogress-1:before { content: "\e640" }
.icon.progress-0:before { content: "\e641" }
.icon.sun:before { content: "\e642" }
.icon.sun2:before { content: "\e643" }
.icon.adjust:before { content: "\e644" }
.icon.code:before { content: "\e645" }
.icon.screen:before { content: "\e646" }
.icon.light-bulb:before { content: "\e647" }
.icon.credit-card:before { content: "\e648" }
.icon.database:before { content: "\e649" }
.icon.voicemail:before { content: "\e64a" }
.icon.clipboard:before { content: "\e64b" }
.icon.rss:before { content: "\e64c" }
.icon.signal:before { content: "\e64d" }
.icon.cart:before { content: "\e64e" }
.icon.thermometer:before { content: "\e64f" }
.icon.droplets:before { content: "\e650" }
.icon.uniE651:before { content: "\e651" }
.icon.bars:before { content: "\e652" }
.icon.logout:before { content: "\e653" }
.icon.login:before { content: "\e654" }
.icon.checkmark:before { content: "\e655" }
.icon.cross:before,
.icon.cross:after { content: "\e656" }
.icon.minus:before { content: "\e657" }
.icon.plus:before { content: "\e658" }
.icon.cross2:before { content: "\e659" }
.icon.minus2:before { content: "\e65a" }
.icon.plus2:before { content: "\e65b" }
.icon.erase:before { content: "\e65c" }
.icon.blocked:before { content: "\e65d" }
.icon.info:before { content: "\e65e" }
.icon.info2:before { content: "\e65f" }
.icon.question:before { content: "\e660" }
.icon.help:before { content: "\e661" }
.icon.warning:before { content: "\e662" }
.icon.cycle:before { content: "\e663" }
.icon.cw:before { content: "\e664" }
.icon.ccw:before { content: "\e665" }
.icon.shuffle:before { content: "\e666" }
.icon.arrow:before { content: "\e667" }
.icon.arrow2:before { content: "\e668" }
.icon.retweet:before { content: "\e669" }
.icon.loop:before { content: "\e66a" }
.icon.history:before { content: "\e66b" }
.icon.back:before { content: "\e66c" }
.icon.switch:before { content: "\e66d" }
.icon.list:before { content: "\e66e" }
.icon.add-to-list:before { content: "\e66f" }
.icon.layout:before { content: "\e670" }
.icon.list2:before { content: "\e671" }
.icon.text:before { content: "\e672" }
.icon.text2:before { content: "\e673" }
.icon.document:before { content: "\e674" }
.icon.landscape:before { content: "\e675" }
.icon.folder:before { content: "\e676" }
.icon.trash:before { content: "\e677" }
.icon.cloud:before { content: "\e678" }
.icon.upload:before { content: "\e679" }
.icon.bookmark:before { content: "\e67a" }
.icon.book2:before { content: "\e67b" }
.icon.record:before,
.icon.record:after { content: "\e67c" }
.icon.resize-enlarge:before { content: "\e67d" }
.icon.resize-shrink:before { content: "\e67e" }
.icon.flow-cascade:before { content: "\e67f" }
.icon.flow-branch:before { content: "\e680" }
.icon.flow-tree:before { content: "\e681" }
.icon.flow-line:before { content: "\e682" }
.icon.flow-parallel:before { content: "\e683" }
.icon.arrow-left:before { content: "\e684" }
.icon.arrow-down:before { content: "\e685" }
.icon.arrow-up:before { content: "\e686" }
.icon.uniE687:before { content: "\e687" }
.icon.cc:before { content: "\e688" }
.icon.cc-nc:before { content: "\e689" }
.icon.cc-pd:before { content: "\e68a" }

.layer-toggle.icon:active:before,
.layer-toggle.rcon:active:after,
.layer-toggle.icon.active:before,
.layer-toggle.rcon.active:after {
    content: "\e67c";
    font-size: 10px;
    top: 5px;
}

.layer-toggle.icon.active:hover:before,
.layer-toggle.rcon.active:hover:after {
    content: "\e656";
    font-size: 14px;
    cursor: pointer;
    top: 3px;
    right: -2px;
}

.moabi-legend.layer-toggle.icon:before {
    position: absolute;
    left: -2px;
    top: 5px;
}

.moabi-legend.layer-toggle.icon:hover:before {
    position: absolute;
    left: -4px;
    top: 3px;
}


/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
