---
---
/*
palette

text: #404040;

dark: #222;
light brown: rgb(255, 252, 248);
orange: #F8AA04;
*/

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background-color: #333;
}

body {
  background-color: #EEE;
  /*background-color: rgb(255, 252, 248);*/
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

header {
  letter-spacing: 1px;
  font-family: 'Open Sans Bold', sans-serif;
  z-index: 1;
  }

footer a {
  display: inline-block;
  }
  footer img {
    height: 28px;
  }

.prose.serif {
  font-family: 'Deja Vu Serif';
  }
  h1.prose,
  h2.prose {
    line-height: 30px;
  }

.prose img {
  margin: 10px auto;
  border: 1px solid rgba(0,0,0,0.1);
}

/* force full-screen minus header/footer*/
.v-stretch {
  height: auto;
  min-height: calc(100% - 110px);
}

/* typography and spacing */
h1, h2 {
  font-family: 'Open Sans XBold';
}

.caps { text-transform: uppercase; }
  .upper-caps { text-transform: uppercase; }
  .upper-caps:first-letter { font-size: 1.3em; }

.text-shadow {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.pad0 {
  padding: 4px;
  }
  .pad0x {
    padding-left: 4px;
    padding-right: 4px;
  }
  .pad0y {
    padding-top: 4px;
    padding-bottom: 4px;
  }

.space > * { margin-right: 10px;}

.strongline-all    { border:2px solid rgba(0,0,0,0.25); }
.strongline-top    { border-top:2px solid rgba(0,0,0,0.25); }
.strongline-right  { border-right:2px solid rgba(0,0,0,0.25); }
.strongline-bottom { border-bottom:2px solid rgba(0,0,0,0.25); }
.strongline-left   { border-left:2px solid rgba(0,0,0,0.25); }

.dark .strongline-all, .dark.strongline-all    { border:2px solid rgba(255,255,255,0.25); }
.dark .strongline-top, .dark.strongline-top    { border-top:2px solid rgba(255,255,255,0.25); }
.dark .strongline-right, .dark.strongline-right  { border-right:2px solid rgba(255,255,255,0.25); }
.dark .strongline-bottom, .dark.strongline-bottom {border-bottom:2px solid rgba(255,255,255,0.25);}
.dark .strongline-left, .dark.strongline-left   { border-left:2px solid rgba(255,255,255,0.25); }

.dashline-all    { border:1px dashed rgba(0,0,0,0.25); }
.dashline-top    { border-top:1px dashed rgba(0,0,0,0.25); }
.dashline-right  { border-right:1px dashed rgba(0,0,0,0.25); }
.dashline-bottom { border-bottom:1px dashed rgba(0,0,0,0.25); }
.dashline-left   { border-left:1px dashed rgba(0,0,0,0.25); }

.scroll-styled {
  padding-right: 18px;
}

.dropshadow-down { box-shadow: rgba(0,0,0,0.15) 0 5px 10px -2px; }
  .dropshadow-right { box-shadow: rgba(0,0,0,0.15) 5px 0 10px -2px; }
  .dropshadow-down-right { box-shadow: rgba(0,0,0,0.15) 4px 4px 10px 0; }
  .insetshadow-down { box-shadow: inset 0px 3px 4px rgba(180, 180, 180, 0.3) }

.wide-text { letter-spacing: 2px; }

.gradient {
    background-image:
      linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.2)
      );
  }
  .gradient.fadeout:hover {
    background-image:
      linear-gradient(
        transparent,
        transparent
      );
  }

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  .grayscale.fadeout:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

/* links and color accents */
/* strong { color: #FF8F00; } /* darker red orange */
/* .dark strong { color: #F8AA04; } /* brigher orange */
/*a:hover strong { color: #F17400; } /* darken further on hover */
/*.dark a:hover strong { color: #FFC145; } /* lighten further on hover */

/* 1) link state regular: all text */
a,
a:active { color: #29abe2; }
  a:hover,
  a.active { color: #3D7797; }

.dark a,
.dark a:active { color: #29abe2; }
  .dark a:hover,
  .dark a.active { color: #B1DCF5;}

/* 2) link state desaturate: source links,... */
a.desaturate { text-decoration: underline; color: #7F7F7F; }
.dark a.desaturate { text-decoration: underline; color: #DDD; }
a.desaturate:hover { color: #999;}

/* 3) link state navigate: header, headings, sidebar nav */
h1 a,
h2 a,
h3 a,
.nav a { color: #404040; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
.nav a:hover { color: #888; }

.nav a.active,
.nav a:active { color: #29abe2; }/* blue || { color: #FF8F00; } /* darker red orange */

/* 4) link state activate: layer_ui, */
.activate a {
  color: #222;
  }
  .activate a:hover {
    background-color: #CCC;
    background-color: rgba(160,160,160,0.2);
  }
  .activate a:active {
    background-color: transparent;
    color: #F86D00;
  }

.dark .activate a {
  color: rgb(255, 252, 248);
  }
  .dark .activate a:hover {
    background-color: #444;
  }
  .dark .activate a:active {
    background-color: transparent;
    color: #F8AA04;
  }


/* backgrounds */
.dark {
    color: #FFFCF8;
  }
  .fill-black { background-color: #000; }
  .fill-dark { background-color: #222; }
  .fill-light {
    background-color: rgb(255, 252, 248);
    background-color: rgba(255, 252, 248, 0.82);
  }
  .fill-darken { background-color: rgba(0,0,0,0.1); }
  .fill-lighten { background-color: rgba(226, 215, 199, 0.5); }
  .dark .fill-darken { background-color: rgba(140, 140, 140, 0.1); }
  .dark .fill-lighten { background-color: rgba(207, 191, 156, 0.2); }

.highlight { border: 1px solid #CFCFCF;}


/* animations */
.animate {
  -webkit-transition:all .25s;
     -moz-transition:all .25s;
      -ms-transition:all .25s;
          transition:all .25s;
  }


/* widgets/controls */
  .layer-ui .not-displayed,
  .layer-ui .displayed {
    overflow: scroll;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    margin: 4px 0 16px;
  }
  .layer-ui .not-displayed {
    max-height: 195px;
  }
  .layer-ui .displayed {
    min-height: 70px;
    max-height: 136px;
  }
  .layer-ui .displayed:empty,
  .layer-ui .not-displayed:empty {
    background-color: rgba(150,150,150,0.1);
    box-shadow: none;
  }
  .layer-ui .displayed:empty:before {
    content: "none";
    font: 12px/20px 'Open Sans Italic', sans-serif;
    padding-top: 8px;
    text-align: center;
    display: block;
  }
  .layer-ui .displayed[data-lang="fr"]:empty:before {
    content: "vide";
  }
  .layer-ui ul li {
    margin: 0;
  }
  .layer-ui .displayed a,
  .layer-ui .not-displayed a {
    display: block;
    padding: 2px 6px;
    font-size: 12px;
  }
/*  .layer-ui li:last-child a {
    border-bottom: 0;
  }*/
  .layer-ui .ui-state-highlight {
    height: 29px;
    border: 1px dashed #F8AA04;
    background-color: rgba(200,200,200,0.1);
  }
  .layer-ui .minor-panel {
    /*max-height: 164px;*/
  }


/* buttons */
.rounded-toggle {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #CCC;
}
  .dark .rounded-toggle {
    background-color: #555;
    border-color: #666;
  }
  .rounded-toggle input[type=radio] + label {
    color: #333;
    border-radius: 3px;
    line-height: 18px;
  }
  .dark .rounded-toggle input[type=radio] + label {
    color: rgb(255, 252, 248);
  }
  .rounded-toggle input[type=radio]:checked + label {
    background: #F8AA04;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
  }
  .dark .rounded-toggle input[type=radio]:checked + label {
    color: #444;
  }

.tabs a {
  cursor: pointer; /*not sure why this needs to be restated*/
  color: rgba(0,0,0,0.5);
}

textarea, input[type=password], input[type=text], input[type=number] {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
}


.button.quiet {
  /*background-color: #eee;*/
  /*background-color: rgba(0,0,0,0.1);*/
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.25);
  color: rgba(0,0,0,.5);
}


.pillmenu li {
  display: inline-block;
  margin-bottom: 12px;
  }
  .pillmenu li a {
    background-color: #C1BFBC;
    color: #222;
    margin-left: 2px;
    padding: 2px 10px;
    border-radius: 2px;
    border: 1px solid #AEACA9;
  }
  .pillmenu li a:hover {
    background-color: #777;
    color: #DDD;
    border: 1px solid #777777;
  }
  .pillmenu li a:active {
    background-color: #798A69;
    color: #FFFFFF;
    border: 1px solid #777777;
  }
  .pillmenu li a.active {
    background-color: #C5CDAC;
    color: #333;
    border: 1px solid #999;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,0.1);
  }

.widget-ui {
    margin: 6px 0;
  }
  .widget-ui a {
    font: 14px/20px 'Open Sans', sans-serif;
    display: block;
    float: left;
    text-align: center;
    padding: 4px;
    width: 32px;
    border-bottom: none;
    border-right: 1px solid #DDD;
  }
  .widget-ui a:not(.active) {
    color: #666;
  }
  .widget-ui a:last-child {
    border-right: none;
  }
  .widget-ui a:hover {
    background-color: rgba(180,180,180,0.2);
  }
  .widget-ui a:active,
  .widget-ui a.active {
    background-color: transparent;
    color: #29abe2; /* blue || #FF8F00; /* darker red orange */
  }
  .widget-ui a.active {
    cursor: default;
  }


/*.map-interaction {
    display: inline-block;
    color: rgb(236, 153, 0);
    background-color: rgb(43, 40, 37);
    background-color: rgba(255,255,255,0.1);
    border: 1px dashed rgb(172, 123, 18);
    border: 1px dashed rgba(238, 164, 32, 0.6);
    padding: 0 3px;
    line-height: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.map-interaction.active,
.map-interaction:hover {
    background-color: rgb(53, 46, 25);
    background-color: rgba(119, 103, 79, 0.2);
}

.map-interaction:active {
    color: rgb(255, 222, 161);
    border: 1px dashed rgb(255, 222, 161);
    background-color: transparent;
}*/

/* share controls */
.mapbox-modal-body {
  position: absolute;
  width: 40%;
  right: 48px;
  margin-top: 11px;
  }
  .mapbox-modal-body .mapbox-share-buttons a {
    background-color: #666;
  }
  .mapbox-modal-body .mapbox-embed,
  .mapbox-modal-body .mapbox-embed-description { display: none; }


/* custom layout elements */
.logo-h {
  background: url({{site.baseurl}}/img/logo_h.svg) no-repeat center left;
  background-size: 100%;
  display:inline-block;
  height: 100%;
  width: 170px
}

.beta { text-align: center;}
.beta:after {
  content: 'beta';
  position: relative;
  left: 100px;
  bottom: 10px;
  font-size: 8px;
  color: #999;
}

.landing {
  width: 100%;
  background-image:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.4)
    ),
    url('https://farm8.staticflickr.com/7207/13771392474_4186a5f467_h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  }
  .landing .pill {
    border: 1px solid rgba(255, 252, 248, 0.3);
    border-radius: 3px;
  }
  .landing .pill a {
    color: #FFFCF8;
    height: 100%;
    border-color: rgba(255, 252, 248, 0.3);
    background-color: rgba(255, 252, 248, 0.1);
  }
  .landing .pill a:hover {
    background-color: rgba(255, 252, 248, 0.2);
  }


/* Sidebarred map pages: data, reports */
#sbar, #map.mbar {
    position: absolute;
    top: 42px; /* header height */
    bottom: 68px; /* footer height */
  }
  #map.mbar.no-footer,
  #sbar.no-footer { bottom: 0; }
  #sbar {
    width: 34%;
    min-width: 360px;
    max-width: 470px;
    z-index: 1;
  }
  #map.mbar {
    left: 0;
    width: 100%;
/*    width: 66%;
    max-width: calc(100% - 360px);
    min-width: calc(100% - 470px);*/
  }

.sidebar-panel {
  height: 100%;
  overflow: auto;
  padding: 10px 18px 10px 16px;
  }
  .report-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .report-panel section {
    padding: 0 20px;
    overflow: auto;
  }
  .report:first-child .report-content,
  .report:last-child .report-content {
    height: calc(100% - 80px);
  }


/* Print Map Preview*/
#images {
  /*background-image: url(https://farm6.staticflickr.com/5274/14482085473_4a0248391e_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
  /*height: 240px;*/
  /*width: 290px;*/
  /*overflow: hidden;*/
  }
  #images img {
    /* if img ratio is larger-by-height than container ratio; width:auto
       if img ratio is larger-by-width than container ratio; height:auto
       calc and set in js.  although container can't scale */

    /* better yet, use js to force one ratio for container.
       position: absolute,
       then if img ratio is larger-by-width: set top: 50%, margin-top:-25%
       otherwise, vice versa */
    width: 100%;
    max-width: none;
    max-height: none;
  }




/*********************** Documentation ***********************/
table tr.opt-row th,
table tr.opt-row td {
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.05);
  }
  .opt-row {
    display: none;
  }
  .opt-row.active {
    display: table-row;
  }

.show-opt-row {
  cursor: pointer;
  }
  .show-opt-row.active:after,
  .show-opt-row:not(.active):before {
    content: 'click to view';
  }
  .show-opt-row.active:after {
    content: 'click to close';
  }
  .show-opt-row:hover:after,
  .show-opt-row:hover:before {
    color: #404040;
  }


.table-contents {
  display: inline-block;
  }
  .table-contents ul {
    margin: 0;
  }
  .table-contents ul li {
    margin: 0;
    list-style: disc inside;
  }

/*********************** Menus ***********************/
.minor-panel {
  display: none;
  }
  .minor-panel.active {
    display: block;
  }
/*  .minor-panel .animate {
    opacity: 0;
  }
  .minor-panel.active .animate {
    opacity: 1;
  }*/


/*********************** Media ***********************/
.slideshow {
    position: relative;
    width: 100%;
  }
  .slide-control {
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 1;
  }
  .slide-control.h {
    position: relative;
    width: 100%;
    height: auto;
  }
  .slide-control[data-slide="right"] {
    right: 0;
  }
  .slide-control[data-slide="left"] {
    left: 0;
  }
  .slide-control[data-slide="right"] span {
    left: 18px;
  }
  .slide-control[data-slide="left"] span {
    right: 8px;
  }
  .slide-control:hover {
    background: rgba(0,0,0,0.2);
  }
  .slide-control.h:hover {
    background: transparent;
  }
  .slide-control.h[data-slide="up"]:hover {
    -webkit-transform:translateY(-4px);
       -moz-transform:translateY(-4px);
        -ms-transform:translateY(-4px);
            transform:translateY(-4px);
  }
  .slide-control.h[data-slide="down"]:hover {
    -webkit-transform:translateY(4px);
       -moz-transform:translateY(4px);
        -ms-transform:translateY(4px);
            transform:translateY(4px);
  }
  .slide-control span {
    font-family: 'Open Sans Bold';
    position: absolute;
    top: 50%;
    margin-top: -24px;
  }
  .slide-control.h span {
    position: static;
    display: block;
    margin: 0;
  }
  .slide-control:hover span {
    color: #666;
  }

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  opacity: 0;
  }
  .slide.active {
    opacity: 1;
  }
  .slide div {
    z-index: 1;
  }


/******************************* Map Legends *******************************/
.map-tooltip,
.map-legends {
  background-color: rgb(255, 252, 248);
  background-color: rgba(255, 252, 248, 0.9);
  border: 1px solid #bbb;
  border-radius: 0;
  box-shadow: rgba(0,0,0,0.1) 0 0 8px 4px;
  }
  .map-legends .map-legend {
    width: 260px;
    max-height: 400px;
    padding: 0 18px 0 0;
    margin: 10px 0 10px 10px;
    overflow: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.moabi-legend {
  display: none;
  }
  .moabi-legend.active {
    display: block;
    border-bottom: 1px dashed #CCC;
  }
  .moabi-legend.active:last-child {
    border-bottom: 0;
  }
  .moabi-legend .block {
    height: 18px;
    width: 28px;
    float: left;
    margin-right: 8px;
    border: 1px solid #888;
  }
  .moabi-legend .legend-icon {
    height: 18px;
    width: 28px;
    float: left;
    margin-right: 8px;
  }
  .moabi-legend h3 {
    font-size: 13px;
    margin-bottom: 2px;
  }
  .moabi-legend h3.micro {
    font-size: 11px;
  }
  .moabi-legend table {
    margin-bottom: 2px;
  }
  .moabi-legend table th {
    padding: 0;
  }
  .moabi-legend table td {
    height: 12px;
    border-left: 1px solid #ddd;
  }
  .moabi-legend table td:last-child {
    border-right: 1px solid #ddd;
  }
  .moabi-legend .legend-icon.dot {
    height: 10px;
    width: 10px;
    margin: 5px 17px 0 8px;
  }
  .moabi-legend .legend-source { margin-left: 8px; }

.map-tooltip {
  width: 260px;
  font: 14px/20px 'Open Sans', sans-serif;
}
.map-tooltip-content {}
.map-tooltip .key {
  font-family: 'Open Sans Bold';
  text-transform: capitalize;
}


/******************** Fonts ********************/
@font-face {
  font-family:'Open Sans Light';
    src:url('../fonts/opensans-light.eot');
    src:url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
  font-family:'Open Sans XBold';
    src:url('../fonts/opensans-bold.eot');
    src:url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold.woff') format('woff');
}

@font-face {
  font-family:'Open Sans XXBold';
    src:url('../fonts/opensans-extrabold.eot');
    src:url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-extrabold.woff') format('woff');
}

@font-face {
  font-family:'Deja Vu Serif';
    src:url('../fonts/DejaVuSerif-webfont.eot');
    src:url('../fonts/DejaVuSerif-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSerif-webfont.woff') format('woff');
}



/* Responsive Design */
/* Small Screen Layout
------------------------------------------------------- */
@media only screen and (max-width:900px) {
}

/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
#sbar, #map.mbar {
  min-width: 100%;
  top: 42px; /* header height */
  }
  #sbar {
    height: 300px;
    border-right: 0;
    border-bottom: 10px solid rgba(255, 252, 248, 0.82);
  }
  #map.mbar {
    /*bottom: 68px;  footer height */
    top: 342px;
    bottom: 0;
  }
}

.tabs > a {
  height: 31px;
  padding: 5px;
}

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:640px) {
  .mobile-center{
    text-align: center;
    }
    .mobile-center > a,
    .mobile-center > div{
      float: none;
    }

  .mobile-pad {
    padding: 10px;
  }

  .widget-ui a {
    display: inline;
    float: none;
  }
}


/******************** Icons ********************/
@font-face {
    font-family: 'Icon-Set';
    src:url('../fonts/icon.eot?-shfr1q');
    src:url('../fonts/icon.eot?#iefix-shfr1q') format('embedded-opentype'),
        url('../fonts/icon.woff?-shfr1q') format('woff'),
        url('../fonts/icon.ttf?-shfr1q') format('truetype'),
        url('../fonts/icon.svg?-shfr1q#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.arrow {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #555;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
}

.arrow.big {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 16px solid #555;  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */
}

.arrow.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow.left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.arrow.right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.idcon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: transparent url(/img/sprite.svg) no-repeat 0 0;
  text-indent: -9999px;
  overflow: hidden;
  }
  .idcon.point {
    background-position: -20px 0;
  }
  .idcon.line {
    background-position: -40px 0;
  }
  .idcon.polygon {
    background-position: -60px 0;
  }
  .idcon.layers {
    background-position: -300px 0
  }

.icon:before,
.rcon:after {
    font: 15px/20px 'Icon-Set';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* experimental */
    margin-right: 2px;
    position: relative;
    top: 1px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* jlc - make base play nice */
    display: inline;
    vertical-align: baseline;
}
    .icon.float:before {
        float: left;
    }
    .rcon.float:after {
        float: right;
    }

.icon.big:before,
.rcon.big:after {
    font: 30px 'Icon-Set';
}

/* make base.css icons play nice with mine */
.col1.big.icon:empty { float:left; width:08.3333%; }

/* jlc custom classes */
.l-offset {
  position: relative;
  left: -17px;
}


.icon.mobile:before { content: "\e600" }
.icon.mail:before { content: "\e601" }
.icon.pencil:before { content: "\e602" }
.icon.paperclip:before { content: "\e603" }
.icon.drawer:before { content: "\e604" }
.icon.reply:before { content: "\e605" }
.icon.reply-all:before { content: "\e606" }
.icon.forward:before { content: "\e607" }
.icon.user:before { content: "\e608" }
.icon.users:before { content: "\e609" }
.icon.user-add:before { content: "\e60a" }
.icon.vcard:before { content: "\e60b" }
.icon.export:before { content: "\e60c" }
.icon.location:before { content: "\e60d" }
.icon.map:before { content: "\e60e" }
.icon.compass:before { content: "\e60f" }
.icon.location2:before { content: "\e610" }
.icon.share:before { content: "\e611" }
.icon.sharable:before { content: "\e612" }
.icon.thumbs-up:before { content: "\e613" }
.icon.thumbs-down:before { content: "\e614" }
.icon.chat:before { content: "\e615" }
.icon.house:before { content: "\e616" }
.icon.comment:before { content: "\e617" }
.icon.search:before { content: "\e618" }
.icon.printer:before { content: "\e619" }
.icon.link:before { content: "\e61a" }
.icon.cog:before { content: "\e61b" }
.icon.tools:before { content: "\e61c" }
.icon.tag:before { content: "\e61d" }
.icon.camera:before { content: "\e61e" }
.icon.megaphone:before { content: "\e61f" }
.icon.moon:before { content: "\e620" }
.icon.palette:before { content: "\e621" }
.icon.leaf:before { content: "\e622" }
.icon.music:before { content: "\e623" }
.icon.book:before { content: "\e624" }
.icon.graduation:before { content: "\e625" }
.icon.newspaper:before { content: "\e626" }
.icon.bag:before { content: "\e627" }
.icon.airplane:before { content: "\e628" }
.icon.lifebuoy:before { content: "\e629" }
.icon.eye:before { content: "\e62a" }
.icon.clock:before { content: "\e62b" }
.icon.microphone:before { content: "\e62c" }
.icon.calendar:before { content: "\e62d" }
.icon.bolt:before { content: "\e62e" }
.icon.thunder:before { content: "\e62f" }
.icon.droplet:before { content: "\e630" }
.icon.briefcase:before { content: "\e631" }
.icon.air:before { content: "\e632" }
.icon.hourglass:before { content: "\e633" }
.icon.gauge:before { content: "\e634" }
.icon.key:before { content: "\e635" }
.icon.battery:before { content: "\e636" }
.icon.bucket:before { content: "\e637" }
.icon.magnet:before { content: "\e638" }
.icon.brush:before { content: "\e639" }
.icon.suitcase:before { content: "\e63a" }
.icon.keyboard:before { content: "\e63b" }
.icon.browser:before { content: "\e63c" }
.icon.publish:before { content: "\e63d" }
.icon.progress-3:before { content: "\e63e" }
.icon.progress-2:before { content: "\e63f" }
.icon.brogress-1:before { content: "\e640" }
.icon.progress-0:before { content: "\e641" }
.icon.sun:before { content: "\e642" }
.icon.sun2:before { content: "\e643" }
.icon.adjust:before { content: "\e644" }
.icon.code:before { content: "\e645" }
.icon.screen:before { content: "\e646" }
.icon.light-bulb:before { content: "\e647" }
.icon.credit-card:before { content: "\e648" }
.icon.database:before { content: "\e649" }
.icon.voicemail:before { content: "\e64a" }
.icon.clipboard:before { content: "\e64b" }
.icon.rss:before { content: "\e64c" }
.icon.signal:before { content: "\e64d" }
.icon.cart:before { content: "\e64e" }
.icon.thermometer:before { content: "\e64f" }
.icon.droplets:before { content: "\e650" }
.icon.uniE651:before { content: "\e651" }
.icon.bars:before { content: "\e652" }
.icon.logout:before { content: "\e653" }
.icon.login:before { content: "\e654" }
.icon.checkmark:before { content: "\e655" }
.icon.cross:before,
.icon.cross:after { content: "\e656" }
.icon.minus:before { content: "\e657" }
.icon.plus:before { content: "\e658" }
.icon.cross2:before { content: "\e659" }
.icon.minus2:before { content: "\e65a" }
.icon.plus2:before { content: "\e65b" }
.icon.erase:before { content: "\e65c" }
.icon.blocked:before { content: "\e65d" }
.icon.info:before { content: "\e65e" }
.icon.info2:before { content: "\e65f" }
.icon.question:before { content: "\e660" }
.icon.help:before { content: "\e661" }
.icon.warning:before { content: "\e662" }
.icon.cycle:before { content: "\e663" }
.icon.cw:before { content: "\e664" }
.icon.ccw:before { content: "\e665" }
.icon.shuffle:before { content: "\e666" }
.icon.arrow:before { content: "\e667" }
.icon.arrow2:before { content: "\e668" }
.icon.retweet:before { content: "\e669" }
.icon.loop:before { content: "\e66a" }
.icon.history:before { content: "\e66b" }
.icon.back:before { content: "\e66c" }
.icon.switch:before { content: "\e66d" }
.icon.list:before { content: "\e66e" }
.icon.add-to-list:before { content: "\e66f" }
.icon.layout:before { content: "\e670" }
.icon.list2:before { content: "\e671" }
.icon.text:before { content: "\e672" }
.icon.text2:before { content: "\e673" }
.icon.document:before { content: "\e674" }
.icon.landscape:before { content: "\e675" }
.icon.folder:before { content: "\e676" }
.icon.trash:before { content: "\e677" }
.icon.cloud:before { content: "\e678" }
.icon.upload:before { content: "\e679" }
.icon.bookmark:before { content: "\e67a" }
.icon.book2:before { content: "\e67b" }
.icon.record:before,
.icon.record:after { content: "\e67c" }
.icon.resize-enlarge:before { content: "\e67d" }
.icon.resize-shrink:before { content: "\e67e" }
.icon.flow-cascade:before { content: "\e67f" }
.icon.flow-branch:before { content: "\e680" }
.icon.flow-tree:before { content: "\e681" }
.icon.flow-line:before { content: "\e682" }
.icon.flow-parallel:before { content: "\e683" }
.icon.arrow-left:before { content: "\e684" }
.icon.arrow-down:before { content: "\e685" }
.icon.arrow-up:before { content: "\e686" }
.icon.arrow-right:before { content: "\e687" }
.icon.cc:before { content: "\e688" }
.icon.cc-nc:before { content: "\e689" }
.icon.cc-pd:before { content: "\e68a" }
