---
layout: main
---
{% assign t = site.data.translations %}

{% assign has_translation = '' %}

{% for post1 in site.tags.blog_post %}
    {% for post2 in site.tags.blog_post %}
        {% if post1.id == post2.id and post1.language != post2.language %}
            {% capture has_translation %}{{has_translation}}{{post1.id}}, {% endcapture %}
        {% endif %}
    {% endfor %}
{% endfor %}


<div class="fill-light">
{% for post in site.tags.blog_post %}
{% unless post.draft %}
{% if post.language == page.language %}
    <section class="clearfix limiter pad4y {% unless forloop.last %}strongline-bottom space-bottom2{% endunless %}">
        <h1 class="col10 margin1 margin1r center space-bottom1"><a href="{{site.baseurl}}{{post.url}}" class="quiet">{{post.title}}</a></h1>
        <div class="pad1 center quiet">{{post.date | date: "%d %B, %Y"}} <span style="color:#444; padding: 0 6px;">|</span> {{post.author}}</div>

        {% if post.lucidpress %}
        <div
        style="display:inline-block;width:99%;text-align:center;font-size:18px">
        <a href="{{site.baseurl}}{{post.url}}">
        <img
            src="{{post.img}}"
            width="50%" style="border:1px solid black;box-sizing:border-box;"/>

        </a>
        </div>
        {% else %}
        {% if post.img %}
        <div class="clearfix">
            <div class="col10 margin1 margin1r pad1y center">
                <img src="{{post.img}}" alt="Blog Image" style="max-height: 360px;">
            </div>
        </div>
        {% endif %}
        <div class="pad2y prose center">
            {% if post.subtitle %}
                {{post.subtitle | markdownify}}
            {% else %}
                {{post.excerpt | markdownify}}
            {% endif %}
        </div>
        {% endif %}


        <a href="{{site.baseurl}}{{post.url}}">{{t.[page.language].read_more}}</a>
    </section>
{% else %}
    {% unless has_translation contains post.id %}
    <!--  untranslated post -->
    <section class="clearfix limiter pad4y {% unless forloop.last %}strongline-bottom space-bottom2{% endunless %}">
        <h1 class="center"><a href="{{site.baseurl}}{{post.url}}" class="quiet">{{post.title}}</a></h1>
        <div class="pad1 center quiet">{{post.date | date: "%d %B, %Y"}} <span style="color:#444; padding: 0 6px;">|</span> {{post.author}}</div>
        <div class="pad1 center quiet"><em>{{t.[page.language].no_translation}}</em></div>


        {% if post.lucidpress %}
        <div
        style="display:inline-block;width:99%;text-align:center;font-size:18px">
        <a href="{{site.baseurl}}{{post.url}}">
        <img
            src="{{post.img}}"
            width="50%" style="border:1px solid black;box-sizing:border-box;"/>

        </a>
        </div>
        {% else %}
        {% if post.img %}
        <div class="clearfix">
            <div class="col10 margin1 margin1r pad1y center">
                <img src="{{post.img}}" alt="Blog Image" style="max-height: 360px;">
            </div>
        </div>
        {% endif %}
        <div class="pad2y prose">
            {% if post.subtitle %}
                {{post.subtitle | markdownify}}
            {% else %}
                {{post.excerpt | markdownify}}
            {% endif %}
        </div>
        {% endif %}
        <a href="{{site.baseurl}}{{post.url}}">{{t.[page.language].read_more}}</a>
    </section>
    {% endunless %}
{% endif %}
{% endunless %}
{% endfor %}
</div>
