---
layout: map
hide: [footer, header]
---
{% assign t = site.data.translations %}
{% include map.html %}
<div id="sidebar" class="fill-light strongline-right{% if page.hide contains 'footer' %} no-footer{% endif %}{% if page.hide contains 'header' %} no-header{% endif %}">
      <!-- sidebar slider -->
      <div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px">
          <div class='slider tabs col12 pad0x margin1 mobile-cols space-bottom1 clearfix'>
              <a data-index="1" class='col4 active'>{{t.[page.language].sidebar_slider.map_layers}}</a>
              <a data-index="2" class='col4'>{{t.[page.language].sidebar_slider.export}}</a>
          </div>
      </div>

      <div class="col12 clip sliding h active1" style="height: calc(100% - 50px)">

          <div class="col12 pad2x pad1y scroll-styled animate">
              {% include layer_ui.html %}
          </div>

          <div class="col12 pad2x pad1y scroll-styled animate">
              <div class="pad1" style="padding-right:0;">{% include data_export.html %}</div>
          </div>

      </div>
  </div>


  </div>
