---
layout: main
---
{% assign t = site.data.translations %}

<section class="fill-light">
    <div class="limiter pad2y">
        <h2 class="left caps space-bottom1">Open Mai Ndombe</h2>
        <img class="left pad2y pad2x" style="float: left;" width="450" height="338" alt="Lake in Mai-Ndombe"src="../../img/openmaindombe.jpg"/>

        <h3>Welcome to Open Mai Ndombe</h3>
<p>This portal brings together REDD+ and FLEG independent observer reporting for the Mai Ndombe jurisdiction. It features interactive mapping stories that summarize the results of recent or ongoing monitoring missions to the district. It also holds reports on IM methodolgy development conducted by Moabi and our partners as well as a range of maps provided through our consortium. We hope the portal provides a more detailed view of on the ground monitoring activities and sparks discussion regarding strengthening forest governance efforts.
</p>
<h3>Why Open Mai Ndombe?</h3>
<p>As the location ER-Reduction program, Mai Ndombe is at the heart of DRC's nascent REDD+ program. There are three REDD+ pilot projects, 20 logging concessions, and numerous customary land rights many of which overlap with these activities. Harmonizing IMREDD and FLEG.
</p>
    </div>
</section>
<section class="limiter pad2x">
  <div class="prose space-bottom grayscale fadeout round" style="background-position: center;  background-image: url(//osm.moabi.org:/attachments/story_attachments/images/000/000/015/large/7cdd73afc89e8d0dbac006516a78be26.JPG); overflow: hidden;">

        <a class="clearfix gradient" href="/mission-d-observation-independante-flegt-dans-la-province-de-l-equateur/fr/" style="background-color: rgba(0,0,0,0.4);">

            <div class="pad2y clearfix dark limiter text-shadow mobile-center contain">
                <div class="col4 pad1x pad2y">
                    <h2 style="padding:0;">Mission d'observation independante flegt dans la province de l'equateur </h2>
                    <h3>By OGF <br /> June 23, 2015</h3>
                </div>
                <div class="col8 pad1x pad2y">

                        <p>Dans le cadre de ces activites l'OGF a effectue une mission d'Observation Independante FLEGT dans le nord de la  province de l'equateur  <br />
</p>

                </div>
            </div>
        </a>
</div>




                <div class="prose space-bottom grayscale fadeout round" style=" background-position: center;  background-image: url(//osm.moabi.org:/attachments/story_attachments/images/000/000/011/large/8b436a4b4026854a6628db6266aa0c06.JPG); overflow: hidden;">

        <a class="clearfix gradient" href="/mission-d-observation-independante-dans-la-province-du-bandundu/fr/" style="background-color: rgba(0,0,0,0.4);">

            <div class="pad2y clearfix dark limiter text-shadow mobile-center contain">
                <div class="col4 pad1x pad2y">
                    <h2 style="padding:0;">Mission d'observation independante dans la province du bandundu </h2>
                    <h3>By OGF <br /> June 23, 2015</h3>
                </div>
                <div class="col8 pad1x pad2y">

                        <p>Dans le cadre de ces activites OGF(Observatoire de la gouvernance forestiere) a effectue une mission d'Observation Independante dans la partie sud de la province du Bandundu  <br />
</p>

                </div>
            </div>
        </a>
</div>
</section>
