---
layout: project
title: Community Mapping
description: Future forest loss in DRC is very uncertain. Decades of conflict and under investment have prevented the industrial scale of forestry and agricultural activities that characterized deforestation in Brazil and Indonesia – the other two large rainforest countries. As the country stabilizes, deforestation will increase, but predicting when and where it will occur presents an ongoing challenge to REDD+ implementation.
categories: [project_en]
permalink: /community_mapping/en
language: en
page_key: community_mapping
img: http://farm8.staticflickr.com/7342/12618848714_5c700b0070_b.jpg
basemap:
    center:
        lat: -0.594
        lon: 18.835
        zoom: 16
    layers:
      - id: moabi_base
        z: -1
      - id: moabi_community_mapping
        z: 0
thumb:
    map_id: helsinki.moabi_base,helsinki.moabi_mining
    lat:
    lon:
    zoom:
    img:

main_panels:
  - id: about
    name: About
    title: Community Participation in Project Monitoring
    description: For a country as large and diverse as the DRC, active community consent and participation will be essential for any successful landuse monitoring project.  In January 2014, Crowdcover partnered with '########' and '#######' to lead community mapping projects in '#####.'  The data, collected by local participants via SMS and Smart Phone, records the level of regional familiarity with the REDD process and also locates specific instances of illegal logging.  View the results in the project data panel.

  - id: narrative
    name: Report
    title: Field Report
    panel_custom: true

  - id: data
    name: Data Layers
    title:
    description:
    panel_data:
        ui_style: listmenu
        actions: [minor-panel-viewer, toggle-layer]
        aside: Click on a layer to add/remove from the map
        data_elements:
          - id: moabi_indigenous
            name: Indigenous Lands
            legend: true
            color: '#BFC7E4'
            source:
                name: DGPA, Atlas de Localisation des Peuples Autochtones Pygmees
                url: www.dgpa.cd
            description: Don't exproriate indigenous lands. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
          - id: moabi_mining
            name: Mining
            legend: true
            color: '#F6EE98'
            source:
                name: CAMI (November 2013)
                url:
            description: Mining and Energy. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
          - id: moabi_logging
            name: Logging
            legend: true
            color: '#AC9270'
            source:
                name: Ministry of Logging
                url:
            description: Logging cuts down trees. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
          - id: moabi_oil
            name: Oil
            legend: true
            color: '#EAC096'
            source:
                name: CAMI (November 2013)
                url:
            description: So much Oil. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
          - id: moabi_palm
            name: Palm Oil
            legend: true
            color: '#767436'
            source:
                name: Ministry of Agriculture
                url:
            description: So much Palm Oil. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.

  - id: media
    name: Photos
    title: Photos From the Field
    description: During the training and field mission, members of the Excites and Moabi teams worked in close collaboration with local residents to map community resources and instances of illegal logging.
    panel_media:
        ui_style: slideshow
        aside: View photos from the field mission below.
        data_elements:
          - id: pic1
            url: http://farm8.staticflickr.com/7415/12483499665_60483bf75b.jpg
          - id: pic2
            url: http://farm4.staticflickr.com/3701/12483979744_8c0776ea12.jpg
          - id: pic3
            url: http://farm3.staticflickr.com/2891/12483502755_f605561cdc.jpg
          - id: pic4
            url: http://farm4.staticflickr.com/3707/12483636803_ec4c92db27.jpg
          - id: pic5
            url: http://farm8.staticflickr.com/7433/12483505725_901ce1eeeb.jpg
          - id: pic6
            url: http://farm8.staticflickr.com/7440/12483506815_820ff7ae43.jpg
---
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptates, obcaecati, perspiciatis, eos provident animi beatae sed rem minus maiores velit aut consequatur modi totam cum ratione voluptatum temporibus molestias quasi possimus vitae in amet at itaque suscipit nesciunt culpa omnis numquam fuga est? Nemo obcaecati adipisci illo quia iste. </p>
    <h3>Independent Observer Points</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, perspiciatis, itaque soluta amet sed in sint aperiam iure magnam at sapiente repellat laboriosam ea obcaecati sit debitis quod numquam dolorem. Inventore, dolorem tempore eum dignissimos quibusdam vero quia quam iusto tenetur ab nam nisi similique consequuntur porro ex ut.</p>
    <h3>Illegal Logging</h3>
    <p>Lorem ipsum dolor sit amet, <span class="navigate"><a href="#" data-nav='["-0.59", "18.84", "17"]'>illegal deforestation</a></span> adipisicing elit. Suscipit, eaque et magnam facere omnis quia animi incidunt commodi laborum excepturi corporis eveniet esse nisi totam vel obcaecati <span class="navigate"><a href="#" data-nav='["-0.594", "18.834", "17"]'>abandoned logs</a></span> iure harum recusandae! </p>
    <h3>Incorrect Government Concession Data</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, totam voluptates mollitia minus reiciendis perspiciatis voluptatum nobis architecto eos maiores. Quo officiis rerum quas <span class="navigate"><a href="#" data-nav='["-0.593", "18.838", "17"]'>palm oil plantation</a></span> voluptas cupiditate? Obcaecati, consectetur, perspiciatis quae cumque laudantium eos eveniet autem expedita assumenda cupiditate quos recusandae error blanditiis dolore nisi commodi possimus voluptatem reprehenderit suscipit deserunt magnam numquam a ex ipsam harum corporis ipsum. </p>
</div>

{% for main_panel in page.main_panels %}
    {% if main_panel.panel_data.actions contains 'toggle-layer' %}
        {% for data_element in main_panel.panel_data.data_elements %}
            {% if data_element.legend %}
                <div class="moabi-legend icon layer-toggle" data-id="{{data_element.id}}">
                    <div class="legend-category">
                        <div class="symbol" style="background-color: {{data_element.color}}"></div>
                        <span class="value">{{data_element.name}}</span>
                    </div>
                    {% if data_element.source %}
                        <div class="source"><span>Source:</span> {% if data_element.source.url %}<a href="{{data_element.source.ulr}}">{{data_element.source.name}}</a>{% else %}{{data_element.source.name}}{% endif %}</div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<div class="moabi-legend icon layer-toggle" data-id="moabi_transport">
    <div class="legend-category">
        <div class="symbol"></div>
        <span class="value">Road Reconstruction</span>
    </div>
    <div class="source"><span>Source:</span> Ministry of Transportation</div>
</div>

<div class="moabi-legend icon layer-toggle" data-id="moabi_energy">
    <h4>Hydropower and Energy Corridors</h4>
    <table class="legend-table named-rows">
        <tr>
            <th></th>
            <th>Existing</th>
            <th>Future</th>
        </tr>
        <tr>
            <td>Dam</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Energy Line</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="source"><span>Source:</span> <a href="www.com">Africa Energy</a></div>
</div>
