---
layout: project
title: REDD+ Risk Map
categories: [project]
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, provident soluta nostrum nihil a ipsam ullam ab ipsa cum ex.
permalink: /projects/red_risk_map.html
reddprojectpanel:
  - id: era
    name: Era
    lat: -2
    lon: 18
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: luki
    name: Luki
    lat: -5.6
    lon: 13.2
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: tayna
    name: Tayna
    lat: -0.35
    lon: 28.7
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: kwamouth
    name: Kwamouth
    lat: -3.9
    lon: 16.6
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: ecomakala
    name: Ecomakala
    lat: -1
    lon: 29.3
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: mambasa
    name: Mambasa
    lat: 1.1
    lon: 29.1
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: isangi
    name: Isangi
    lat: 0.9
    lon: 24.1
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: mitsoshi
    name: Mitsoshi
    lat: -5.1
    lon: 29.1
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
  - id: jadora
    name: Jadora
    lat: 0.4
    lon: 23.95
    zoom: 8
    description: FILLERTEXT- Located in the restive east of the country, the Ecomakala forest project covers over xx hectares of land.  However, portions of the forest have already been cut by artisanal logging operations and locals trading in charcole.  Illegal poching has also been reported throughout the project site.
datapanel:
  - id: indigenous
    name: Indigenous Lands
    description: Don't exproriate indigenous lands. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: transport
    name: Transport
    description: Roads and rivers provide the major arteries for travel and trade across DRC. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: mining
    name: Mining and Energy
    description: Mining and Energy. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: logging
    name: Logging
    description: Logging cuts down trees. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: oil
    name: Oil
    description: So much Oil. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: palm
    name: Palm Oil
    description: So much Palm Oil. After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
  - id: energy
    name: Energy
    description: Energy Corridors! After decades of neglect, 16,760 kilometers of road are being rehabilitated including 820 kilometers directly overlapping with REDD+ pilot projects.  Forest located within two kilometers of roads will be vulnerable to clearance and other impacts such as poaching will affect a far broader area.
---


<div class="sidebar-container">
    <div class="sidebar-header"></div>
    <div class="sidebar-fill">
        <ul class="boxmenu width-3 clearfix">
            <li><a id="about" class="active" href="#">About</a></li>
            <li><a id="data" href="#">Data Layers</a></li>
            <li><a id="sites" href="#">REDD+ Projects</a></li>
        </ul>

        <div class="main-panel about active">
            <h2>Managing the DRC's Forests</h2>
            <p class="small">Future forest loss in DRC is very uncertain. Decades of conflict and under investment have prevented the industrial scale of forestry and agricultural activities that characterized deforestation in Brazil and Indonesia – the other two large rainforest countries. As the country stabilizes, deforestation will increase, but predicting when and where it will occur presents an ongoing challenge to REDD+ implementation. The maps illustrate 7 potential land use activities overlapping REDD+ pilot projects locations including mines, roads, and logging permits. Some are active, many are speculative, but over the next thirty years, it is inevitable that they could compete with REDD+ activities. These land uses will also overlap with customary rights of local communities and could impede their access and use of the forest.</p>
        </div>

        <div class="main-panel data">
            <div class="aside">Click on a layer to add/remove from the map</div>

            <ul class="listmenu layer-buttons">
                {% for dpanel in page.datapanel %}
                    <li><a href="#" id="{{dpanel.id}}">{{dpanel.name}}</a></li>
                {% endfor %}
            </ul>

            {% for dpanel in page.datapanel %}
                <div class="minor-panel small" id="{{dpanel.id}}-panel">
                    <div class="clearfix">
                        <h3>{{dpanel.name}}</h3>
                        <ul>
                            <li>
                                <p class="small">{{dpanel.description}}</p>
                            </li>
                            <li>
                                <div class="title">Availability</div>
                                <div class="content">Public</div>
                            </li>
                            <li class="clearfix">
                                <div class="title">Data</div>
                                <div class="content">
                                    <a href="#" class="print">Print</a>
                                    <a href="#" class="download">Download</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="main-panel sites">
            <h2>REDD+ Project Sites</h2>
            <p class="small">FILLERTEXT: REDD+ Projects cover a significant amount of the DRC's valuable rainforest resources.  If managed correctly, they could provide an a steady revenue stream while protecting the country's ecological hertigage and acting as an important carbon sink for the world.</p>
            <div class="aside">Click on a REDD+ Project to navigate to it's location.</div>

            <ul class="pillmenu redd-buttons">
                {% for rproject in page.reddprojectpanel %}
                    <li><a id="{{rproject.id}}" href="#">{{rproject.name}}</a></li>
                {% endfor %}
            </ul>

            {% for rproject in page.reddprojectpanel %}
                <div class="minor-panel small" id="{{rproject.id}}-panel">
                    <div class="clearfix">
                        <h3>{{rproject.name}}</h3>
                        <ul>
                            <li>
                                <p class="small">{{rproject.description}}</p>
                            </li>
                            <li>
                                <div class="title">Availability</div>
                                <div class="content">Public</div>
                            </li>
                            <li class='clearfix'>
                                <div class='title'>Data</div>
                                <div class='content'>
                                    <a class='print'>Print</a>
                                    <a class='download'>Download</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>



    </div>
</div>

