<div class="browse-title-bar fill-light strongline-bottom">
    <div class="big arrow up"></div>
    <div class="limiter">
        <div class="keyline-bottom clearfix pad1 mobile-cols">
            <!-- <span class="col1 icon big arrow-left"></span> -->
            <h1 class="center caps">Browse Projects</h1>
            <!-- <span class="col1 icon big arrow-right text-right"></span> -->
        </div>
        <div class="clearfix pad1 mobile-cols">
            <h1 class="center caps">Explore the Data</h1>
            <!-- <div class="margin6 icon big arrow-down"></div> -->
        </div>
    </div>
    <div class="big arrow down"></div>
</div>
