<ul>

    <li class="space-bottom4 clearfix">
        <h3 class="">{{t[page.language].data_extract.print}}</h3>
        <div class="pad0y quiet small">{{t[page.language].data_extract.print_text}}</div>
        <div id="images" class="col12 fill-darken strongline-all contain">
            <div class="pill pin-left">
                <a id="snap" href="#" class="button short quiet" style="border-top:0; border-left:0;">{{t[page.language].data_extract.snap}}</a><!--
                --><a id="map-download" href="#" download="map.png" class="button short quiet" style="border-top:0;">{{t[page.language].download}}</a>
            </div>
            <img src="https://farm6.staticflickr.com/5274/14482085473_d8a7f95126.jpg" alt="screen shot">
        </div>
    </li>

    <li class="space-bottom4">
        <h3 class="">{{t[page.language].data_extract.embed}}</h3>
        <div class="pad0y quiet small">{{t[page.language].data_extract.embed_text}}</div>
        <fieldset class="">
            <input type="text" id="map-embed" class="stretch short small" value="<iframe src='rdc.moabi.org/mapi/#6/28.00/26.10' frameborder='0' width='650' height='500'></iframe>" onclick="this.focus();this.select()">
        </fieldset>
    </li>
</ul>
