<meta charset="utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<title>{% if page.title %} {{ page.title }} | {% endif %}Moabi</title>

<link href='http://api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.css' rel='stylesheet' />
<link href='{{site.baseurl}}/css/style.css' rel='stylesheet' />
<!-- <link rel="stylesheet" href="http://www.mapbox.com/base/latest/base.css" /> -->

<script src='http://api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.js'></script>
