<meta charset="utf-8" />
{% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="20; url=/">
{% endif %}
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<meta name="description" content="Moabi is a collaborative mapping platform to monitor landuse planning in the Democratic Republic of the Congo.">
<!-- <link rel="author" href="https://plus.google.com/moabi-gplus-profile"> -->

<title>{% if page.title %} {{ page.title }} | {% endif %}Moabi</title>

<link rel="icon" type="image/ico" href="{{site.baseurl}}/img/moabi.ico"/>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<!-- <link rel="stylesheet" href="http://www.mapbox.com/base/latest/base.css" /> -->
<link href='{{site.baseurl}}/css/base.css' rel='stylesheet' />
<link href='{{site.baseurl}}/css/style.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
