{% if page.id == 'home' %}
<footer class="logo fill-gray pad1 center strongline-top">
    <div class="limiter space">
        <h3 class="center quiet">PARTNERS</h3>
        <a target="_blank" href="http://www.ogfrdc.cd/" class="pad1"><img class="" src="{{site.baseurl}}/img/OGF_logo_80.png" alt="OGF"></a>
        <a target="_blank" href="http://www.osfac.net/index.php?lang=en" class="pad1"><img class="" src="{{site.baseurl}}/img/OSFAC_logo_80.png" alt="OSFAC"></a>
        <a target="_blank" href="http://www.iiasa.ac.at/" class="pad1"><img class="" src="{{site.baseurl}}/img/IIASA_logo_80.png" alt="IIASA"></a>
    </div>
</footer>
{% else %}
<footer class="logo fill-gray pad1 center">
    <div class="limiter space">
        <h3 class="center quiet">PARTNERS</h3>
        <a target="_blank" href="http://www.ogfrdc.cd/" class="pad1"><img class="" src="{{site.baseurl}}/img/OGF_logo_80.png" alt="OGF"></a>
        <a target="_blank" href="http://www.osfac.net/index.php?lang=en" class="pad1"><img class="" src="{{site.baseurl}}/img/OSFAC_logo_80.png" alt="OSFAC"></a>
        <a target="_blank" href="http://www.iiasa.ac.at/" class="pad1"><img class="" src="{{site.baseurl}}/img/IIASA_logo_80.png" alt="IIASA"></a>
    </div>
</footer>
{% endif %}
