{% assign t = site.data.translations %}
<footer class="logo fill-gray space center strongline-top hide-tablet noprint">
    <div class="space-bottom1">
        <div class="pad0 center quiet caps micro text-embose">{{t.[page.language].footer.partners}}</div>
        <a class="pad1x grayscale fadeout" target="_blank" href="http://www.ogfrdc.cd/"><img src="{{site.baseurl}}/img/logos/OGF_logo_28.png" alt="OGF"></a>
        <a class="pad1x grayscale fadeout" target="_blank" href="http://www.osfac.net/index.php?lang=en"><img src="{{site.baseurl}}/img/logos/OSFAC_logo_28.png" alt="OSFAC"></a>
        <a class="pad1x grayscale fadeout" target="_blank" href="http://www.iiasa.ac.at/"><img src="{{site.baseurl}}/img/logos/IIASA_logo_28.png" alt="IIASA"></a>
    </div>
</footer>
