<li class="language-toggle horizontal toggle-language fr pad1 clearfix">
    <a {% if page.language == 'fr' %}
            {% if page.title == 'landing' %}
                href="{{site.baseurl}}/en/"
            {% else %}
                href="{{site.baseurl}}{{page.url | remove: '/fr/'}}/en/"
            {% endif %}
            data-lang="en"
            class='quiet fl pad0x keyline-right'
        {% else %}
            href="#"
            class='active fl pad0x keyline-right'
        {% endif %}>EN</a>
    <a {% if page.language == 'en' %}
            {% if page.title == 'landing' %}
                href="{{site.baseurl}}/fr/"
            {% else %}
                href="{{site.baseurl}}{{page.url | remove: '/en/'}}/fr/"
            {% endif %}
            data-lang="fr"
            class='quiet fl pad0x'
        {% else %}
            href="#"
            class='active fl pad0x'
        {% endif %}>FR</a>
</li>
