{% if page.url == '/en/index.html' or page.url == '/fr/index.html' %}
<div class="widget-ui horizontal toggle-language fr">
    <a {% if page.language == 'fr' %}
            href="{{site.baseurl}}/en"
            data-lang="en"
        {% else %}
            href="#"
            class='active'
        {% endif %}>EN</a>
    <a {% if page.language == 'en' %}
            href="{{site.baseurl}}/fr"
            data-lang="fr"
        {% else %}
            href="#"
            class='active'
        {% endif %}>FR</a>
</div>
{% else %}
<div class="widget-ui horizontal toggle-language fr">
    <a {% if page.language == 'fr' %}
            href="{{site.baseurl}}{{page.url | remove: '/fr/'}}/en/"
            data-lang="en"
        {% else %}
            href="#"
            class='active'
        {% endif %}>EN</a>
    <a {% if page.language == 'en' %}
            href="{{site.baseurl}}{{page.url | remove: '/en/'}}/fr/"
            data-lang="fr"
        {% else %}
            href="#"
            class='active'
        {% endif %}>FR</a>
</div>
{% endif %}
