<div class="layer-ui col12 minor-panel-viewer">
    <!-- <p class="prose small center quiet">Click on a layer to add it to the map.</p> -->
    {% if page.maplayer_options.filter %}
        <div class="col2 text-right pad0y" style="padding-right: 8px">
            <div class="light small">Theme:</div>
        </div>
        <div class="col10">
            <div class="rounded-toggle inline">
                <input id="allthemes" type="radio" name='theme' value="allthemes" checked='checked'>
                <label for="allthemes">All</label>
                <input id="concession" type="radio" name='theme' value="concession">
                <label for="concession">Concessions</label>
                <input id="rainforest" type="radio" name='theme' value="rainforest">
                <label for="rainforest">Rainforest</label>
                <input id="community" type="radio" name='theme' value="community">
                <label for="community">Community</label>
            </div>
        </div>
        <div class="col2 text-right pad0y space-bottom1" style="padding-right: 8px">
            <div class="light small">Type:</div>
        </div>
        <div class="col10 space-bottom1">
            <div class="rounded-toggle inline">
                <input id="alltypes" type="radio" name='type' value="alltypes" checked='checked'>
                <label for="alltypes">All</label>
                <input id="raster" type="radio" name='type' value="raster">
                <label for="raster">Raster</label>
                <input id="vector" type="radio" name='type' value="vector">
                <label for="vector">Vector</label>
            </div>
        </div>
    {% endif %}

    <div class="small center">{{t.[page.language].layer_ui.available}}</div>
    <ul class="not-displayed fill-darken0 keyline-all insetshadow-down activate animate">
      {% if page.maplayer_options.subset %}
        {% for pagelayer_id in page.maplayer_options.subset %}{% for layer in site.data.map_layers %}
          {% if layer.id == pagelayer_id %}
            <li class="layer-toggle"
              data-index="{{forloop.index}}"
              data-categories="{% for category in layer.categories %}{{category}},{% endfor %}"
              data-id="{{layer.id}}">
                <a class="keyline-bottom" href="#">{{layer.name}}</a>
            </li>
          {% endif %}
        {% endfor %}{% endfor %}
      {% else %}
        {% for layer in site.data.map_layers %}
          <li class="layer-toggle disable-select"
            data-index="{{forloop.index}}"
            data-categories="{% for category in layer.categories %}{{category}},{% endfor %}"
            data-id="{{layer.id}}">
              <a class="keyline-bottom" href="#">{{layer.name}}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>

    <div class="small center">{{t.[page.language].layer_ui.displayed}}</div>
    <ul class="displayed sortable fill-brown keyline-all insetshadow-down activate animate" data-lang="{{page.language}}"></ul>
</div>
