<!-- Legends -->

<div class="moabi-legend space-bottom1" data-id="moabi_redd_projects">
    <div class="">
        <div class="block double-stroke" style="background-color: #dae57e"></div>
        <h3 class="">REDD+ Projects</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_indigenous">
    <div class="">
        <div class="block double-stroke" style="background-color: #8697d1"></div>
        <h3 class="">Indigenous Lands</h3>
    </div>
</div>


<div class="moabi-legend space-bottom1" data-id="moabi_logging">
    <div class="">
        <div class="block double-stroke" style="background-color: #BD925B"></div>
        <h3 class="">Logging Concessions</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_mining">
    <h3 class="">Mining Concessions</h3>
    <div class="">
        <div class="block double-stroke" style="background-color: #FFFBA5"></div>
        <h3 class="">Research Permits</h3>
    </div>
    <div class="">
        <div class="block double-stroke" style="background-color: #FFEF35"></div>
        <h3 class="">Exploration Permits</h3>
    </div>
    <div class="">
        <div class="block double-stroke striped" style="background-color: #FFE420"></div>
        <h3 class="">Exploitation Permits</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_oil">
    <h3>Oil Concessions</h3>
    <div class="">
        <div class="block double-stroke" style="background-color: #FFB651"></div>
        <h3 class="">Active</h3>
    </div>
    <div class="">
        <div class="block double-stroke" style="background-color: rgba(255, 182, 81, 0.27)"></div>
        <h3 class="">Inactive/Unknown</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_palm">
    <div class="">
        <div class="block double-stroke" style="background-color: #999C4C"></div>
        <h3 class="">Agriculture Concessions</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_palm_suitability">
    <h3 class="">Palm Oil Suitability</h3>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">Marginal</th>
                <th class="center">Moderate</th>
                <th class="center">Suitable</th>
                <th class="center">High</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #FEEFCB;"></td>
                <td style="background-color: #CD7B8D;"></td>
                <td style="background-color: #614C90;"></td>
                <td style="background-color: #04165C;"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_forest_cover">
    <h3 class="">Forest Cover(%), 2000</h3>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">10</th>
                <th class="center">50</th>
                <th class="center">70</th>
                <th class="center">90</th>
                <th class="center">100</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #F8F2E2;"></td>
                <td style="background-color: #F7E8B5;"></td>
                <td style="background-color: #D9E2A9;"></td>
                <td style="background-color: #BBC083;"></td>
                <td style="background-color: #7C814E;"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_forest_lossyear">
    <h3 class="">Forest Loss by Year</h3>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">2001</th>
                <th class="center">2003</th>
                <th class="center">2006</th>
                <th class="center">2009</th>
                <th class="center">2012</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #ffffe0;"></td>
                <td style="background-color: #ffd67f;"></td>
                <td style="background-color: #ffab5c;"></td>
                <td style="background-color: #ff7a35;"></td>
                <td style="background-color: #ff3000;"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_protected">
    <div class="">
        <div class="block" style="background-color: #d0ffab; border: 1px dashed #888"></div>
        <h3 class="">Protected Areas</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_intact_forests">
    <div class="">
        <div class="block" style="background-color: #BCDC98"></div>
        <h3 class="">Intact Forests</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_transport">
    <div class="">
        <span class="legend-icon" style="color: #F8CC00;">━━</span>
        <h3 class="">Road Rehabilitation Projects</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_community_mapping">
    <div class="">
        <h3 class="">Community Mapping, Ingendi</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw.svg"></img><h3 class="micro">Logging (legal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw_illegal.svg"></img><h3 class="micro">Logging (illegal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/community.svg"></img><h3 class="micro">Community Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/tree.svg"></img><h3 class="micro">Sacred Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/paw.svg"></img><h3 class="micro">Hunting Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/fish.svg"></img><h3 class="micro">Fishing Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/food_bag.svg"></img><h3 class="micro">Foraging Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/agriculture.svg"></img><h3 class="micro">Farming Site</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_hydropower">
    <div class="">
        <h3 class="">Hydroelectric Power</h3>
        <span class="legend-icon dot" style="background-color: white; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (existing)</h3>
        <span class="legend-icon dot" style="background-color: #DEA2A9; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (planned)</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_transmission_lines">
    <div class="">
        <h3 class="">Electricity Transmission Lines</h3>
        <span class="legend-icon" style="border-bottom: 3px solid #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (existing)</h3>
        <span class="legend-icon" style="border-bottom: 3px dotted #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (planned)</h3>
    </div>
</div>
