<!-- Legends -->
{% for layer in site.data.map_layers %}
{% if layer.legend_template %}
<div class="moabi-legend space-bottom1" data-id="{{layer.id}}">
    <div class="">
        <div class="block" style="background-color: {{layer.legend_color}}"></div>
        <h3 class="">{{layer.name}}</h3>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="moabi-legend space-bottom1" data-id="moabi_forest_cover">
    <div class="col12">
        <h3 class="">Forest Cover(%), 2000</h3>
    </div>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">20</th>
                <th class="center">50</th>
                <th class="center">70</th>
                <th class="center">80</th>
                <th class="center">90</th>
                <th class="center">100</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #2B83BA;"></td>
                <td style="background-color: #ABDDA4;"></td>
                <td style="background-color: #FFFFBF;"></td>
                <td style="background-color: #FDAE61;"></td>
                <td style="background-color: #D7191C;"></td>
                <td style="background-color: #990700;"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_forest_lossyear">
    <div class="col12">
        <h3 class="">Forest Loss by Year</h3>
    </div>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">2001</th>
                <th class="center">2003</th>
                <th class="center">2006</th>
                <th class="center">2009</th>
                <th class="center">2012</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #DDCAFF;"></td>
                <td style="background-color: #CDB0FF;"></td>
                <td style="background-color: #AC7DFF;"></td>
                <td style="background-color: #8B4AFF;"></td>
                <td style="background-color: #6B17FF;"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_protected">
    <div class="">
        <div class="block" style="background-image: url({{site.baseurl}}/img/ex_small.png)"></div>
        <h3 class="">Protected Areas</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_transport">
    <div class="">
        <span class="legend-icon" style="color: #F8CC00;">━━</span>
        <h3 class="">Road Rehabilitation Projects</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_community_mapping">
    <div class="">
        <h3 class="">Community Mapping, Ingendi</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw.svg"></img><h3 class="micro">Logging (legal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw_illegal.svg"></img><h3 class="micro">Logging (illegal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/community.svg"></img><h3 class="micro">Community Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/tree.svg"></img><h3 class="micro">Sacred Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/paw.svg"></img><h3 class="micro">Hunting Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/fish.svg"></img><h3 class="micro">Fishing Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/food_bag.svg"></img><h3 class="micro">Foraging Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/agriculture.svg"></img><h3 class="micro">Farming Site</h3>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_energy">
    <div class="">
        <h3 class="">Hydro and Transmission Lines</h3>
        <span class="legend-icon dot" style="background-color: white; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (existing)</h3>
        <span class="legend-icon dot" style="background-color: #DEA2A9; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (planned)</h3>
        <span class="legend-icon" style="border-bottom: 3px solid #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (existing)</h3>
        <span class="legend-icon" style="border-bottom: 3px dotted #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (planned)</h3>
    </div>
</div>
