<!-- used in data and report -->
<!-- not currently implemented, need to parameterize for different buttons -->
<div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px">
    <div class='slider tabs col10 margin1 mobile-cols space-bottom1 clearfix'>
        <a data-index="1" class='col6 active'>{{t.[page.language].landing.report_button_name}}</a><!--
     --><a data-index="2" class='col3'>{{t.[page.language].landing.data_button_name}}</a><!--
     --><a data-index="3" class='col3'>Edit Data</a>
    </div>
</div>


