---
layout: main
id: data
title: Data
language: en
basemap:
    center:
        lat: -2.877
        lon: 22.830
        zoom: 5
    layers:
      - id: 'moabi_base'
        z: -1
maplayer_options:
    filter:
    subset: false
---
<div class="clearfix strongline-bottom">
    <div class="col4 row18 pad1x fill-light strongline-right dropshadow-right">
        <div class="tab-group col10 margin1 margin1r clearfix keyline-bottom space-bottom1">
            <div class='slider tabs col10 margin1 pad1y clearfix'>
                <a data-index="1" class='col6 active'>Visualize</a><!--
             --><a data-index="2" class='col6'>Export</a>
            </div>
        </div>
        <div class="col12 row16 pad2y clip sliding h active1">

            {% include layer_ui.html %}

            <div class="col12 animate">
                {% include data_export.html %}
            </div>
        </div>
    </div>
    <div class="col8 row18 contain">
        <div id="map" style="z-index:0"></div>
    </div>
</div>

<!-- Legends -->
{% for layer in page.map_layers.layers %}{% if layer.legend_template %}
<div class="moabi-legend space-bottom1" data-id="{{layer.id}}">
    <div class="">
        <div class="block" style="background-color: {{layer.legend_color}}"></div>
        <h3 class="">{{layer.name}}</h3>
    </div>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> {% if layer.source.url %}<a href="{{layer.source.url}}" class="desaturate">{{layer.source.name}}</a>{% else %}{{layer.source.name}}{% endif %}
    </div>
</div>
{% endif %}{% endfor %}

<div class="moabi-legend space-bottom1" data-id="moabi_forest_cover">
    <div class="col12">
        <h3 class="">Forest Cover(%), 2000</h3>
    </div>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">20</th>
                <th class="center">50</th>
                <th class="center">70</th>
                <th class="center">80</th>
                <th class="center">90</th>
                <th class="center">100</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #2B83BA;"></td>
                <td style="background-color: #ABDDA4;"></td>
                <td style="background-color: #FFFFBF;"></td>
                <td style="background-color: #FDAE61;"></td>
                <td style="background-color: #D7191C;"></td>
                <td style="background-color: #990700;"></td>
            </tr>
        </tbody>
    </table>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> <a class="desaturate" href="http://www.earthenginepartners.appspot.com/science-2013-global-forest">University of Maryland</a>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_forest_lossyear">
    <div class="col12">
        <h3 class="">Forest Loss by Year</h3>
    </div>
    <table class="fixed">
        <thead>
            <tr>
                <th class="center">2001</th>
                <th class="center">2003</th>
                <th class="center">2006</th>
                <th class="center">2009</th>
                <th class="center">2012</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #ffeb88;"></td>
                <td style="background-color: #ffb34a;"></td>
                <td style="background-color: #f07c2e;"></td>
                <td style="background-color: #e34a28;"></td>
                <td style="background-color: #c62107;"></td>
            </tr>
        </tbody>
    </table>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> <a class="desaturate" href="http://www.earthenginepartners.appspot.com/science-2013-global-forest">University of Maryland</a>
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_protected">
    <div class="">
        <div class="block" style="background-image: url({{site.baseurl}}/img/ex_small.png)"></div>
        <h3 class="">Protected Areas</h3>
    </div>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> World Resources Institute / Ministere de l'environnement Conservation de la Nature et Tourisme (WRI/MECNT)
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_transport">
    <div class="">
        <span class="legend-icon" style="color: #F8CC00;">━━</span>
        <h3 class="">Road Rehabilitation Projects</h3>
    </div>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> Cellule Infrastructures (CI)
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_community_mapping">
    <div class="">
        <h3 class="">Community Mapping, Ingendi</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw.svg"></img><h3 class="micro">Logging (legal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/chainsaw_illegal.svg"></img><h3 class="micro">Logging (illegal)</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/community.svg"></img><h3 class="micro">Community Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/tree.svg"></img><h3 class="micro">Sacred Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/paw.svg"></img><h3 class="micro">Hunting Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/fish.svg"></img><h3 class="micro">Fishing Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/food_bag.svg"></img><h3 class="micro">Foraging Site</h3>
        <img class="legend-icon" src="{{site.baseurl}}/img/agriculture.svg"></img><h3 class="micro">Farming Site</h3>
    </div>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> Ligue Nationale des pygmees du Congo (LINAPYCO)
    </div>
</div>

<div class="moabi-legend space-bottom1" data-id="moabi_energy">
    <div class="">
        <h3 class="">Hydro and Transmission Lines</h3>
        <span class="legend-icon dot" style="background-color: white; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (existing)</h3>
        <span class="legend-icon dot" style="background-color: #DEA2A9; border: 2px solid #D12F3E"></span><h3 class="micro">Dam (planned)</h3>
        <span class="legend-icon" style="border-bottom: 3px solid #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (existing)</h3>
        <span class="legend-icon" style="border-bottom: 3px dotted #D12F3E; position: relative; bottom: 6px; width: 27px;"></span><h3 class="micro">Transmission Line (planned)</h3>
    </div>
    <div class="micro legend-source">
        <strong class="quiet">Source:</strong> African Energy / Societe National d' Electricite (AE / SNEL)
    </div>
</div>
