.language-toggle a:not(.active):hover {
  background-color: rgba(180,180,180,0.2);
  }
  .language-toggle a.active {
   /* color: #29abe2; /* blue || #FF8F00; /* darker red orange */
    cursor: default;
  }

/* widgets/controls */
  .layer-ui .not-displayed,
  .layer-ui .displayed {
    overflow: scroll;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    margin: 4px 0 16px;
  }
  .layer-ui .not-displayed {
    max-height: 195px;
  }
  .layer-ui .displayed {
    min-height: 70px;
    max-height: 136px;
  }
  .layer-ui .displayed:empty,
  .layer-ui .not-displayed:empty {
    background-color: rgba(150,150,150,0.1);
    box-shadow: none;
  }
  .layer-ui .displayed:empty:before {
    content: "none";
    font: 12px/20px 'Open Sans Italic', sans-serif;
    padding-top: 8px;
    text-align: center;
    display: block;
  }
  .layer-ui .displayed[data-lang="fr"]:empty:before {
    content: "vide";
  }
  .layer-ui ul li {
    margin: 0;
  }
  .layer-ui .displayed a,
  .layer-ui .not-displayed a {
    display: block;
    padding: 2px 10px;
    font-size: 12px;
  }
  .layer-ui .ui-state-highlight {
    height: 29px;
    border: 1px dashed #F8AA04;
    background-color: rgba(200,200,200,0.1);
  }
  .layer-ui .minor-panel {
    /*max-height: 164px;*/
  }
