---
layout: main
title: Blog
id: blog
basemap:
    center:
        lat: -2.877
        lon: 22.830
        zoom: 5
    layers:
      - id: 'moabi_base'
        z: -1
gradient: true
language: en

body: true
---

{% for post in site.categories.blog_post %}
    {% if post.language == page.language %}
        <div class="clearfix">
            <h1 class="center"><a href="{{post.url}}">{{post.title}}</a></h1>
            <div class="col10 margin1 margin1r center pad1 keyline-bottom">{{post.date | date: "%d %B, %Y"}}</div class="center">
            {% if post.img %}
                <div class="col8 margin2 margin2r pad1y">
                    <img src="{{site.baseurl}}/img/{{post.img}}" alt="Blog Image">
                </div>
            {% endif %}
            <div class="col10 margin1 margin1r pad2y keyline-top">{{post.excerpt}}</div>
            <div class="margin1">
                <a href="{{post.url}}">Read More</a>
            </div>
        </div>
    {% endif %}
{% endfor %}

