---
layout: default
title: Blog
id: blog
basemap:
    center:
        lat: -2.877
        lon: 22.830
        zoom: 5
    layers:
      - id: 'moabi_base'
        z: -1
gradient: true
language: en

body: true

---

{% for post in site.categories.blog_post %}
    <div class="blog-post clearfix">
        {% if post.img %}
            <div class='image-border'>
                <div class='image'>
                    <img src="{{site.baseurl}}/img/{{post.img}}" alt="Blog Image">
                </div>
            </div>
        {% endif %}
        <h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
        <div class="date">{{post.date | date: "%d %B, %Y"}}</div>

        <div class="post_content">{{post.excerpt}}</div>
        <a href="{{post.url}}" class="more">Read More</a>
    </div>
{% endfor %}

