---
layout: main
id: data
title: Data
language: en
basemap:
    center:
        lat: -2.877
        lon: 22.830
        zoom: 5
    layers:
      - id: 'moabi_base'
        z: -1
map_layers:
    filter:
    layers:
      - id: moabi_forest_cover
        name: UMD Forest Cover (2000)
        categories: [forestry, raster]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_forest_lossyear
        name: UMD Forest Loss (2000 - 2012)
        categories: [forestry, raster]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_redd_projects
        name: REDD+ Projects
        categories: []
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#dae57e'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_protected
        name: Protected Forest Areas
        categories: [forestry]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_community_mapping
        name: Community Mapping
        categories: [indigenous]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_indigenous
        name: Indigenous Lands
        categories: [indigenous]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#8697d1'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_energy
        name: Energy
        categories: [infrastructure]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_logging
        name: Logging Concessions
        categories: [forestry, concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#976A2F'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_mining
        name: Mining Concessions
        categories: [concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#fae78f'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Proprietary

      - id: moabi_oil
        name: Oil Concessions
        categories: [concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#d8912e'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public
        tooltip: name

      - id: moabi_palm
        name: Palm Concessions
        categories: [concession, forestry]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        legend_template: true
        legend_color: '#79750A'
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public

      - id: moabi_transport
        name: Road Rehabilitation Projects
        categories: [infrastructure]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made. Forest loss surrounding city centers is likely due to urban sprawl; loss patterns in orderly, rectangular grids are likely the result of industrial logging; while loss with no discernable pattern is likely due to natural causes or artisanal logging.
        legend_template:
        legend_color:
        source:
            name: Ministry of the Environment
            url: http://www.com
            availability: Public
---
<div class="clearfix strongline-bottom">
    <div class="col4 row18 pad1x fill-dark dark strongline-right dropshadow-right">
        <div class="tab-group col10 margin1 margin1r clearfix keyline-bottom space-bottom1">
            <div class='slider tabs col10 margin1 pad1y clearfix'>
                <a data-index="1" class='col6 active'>Visualize</a><!--
             --><a data-index="2" class='col6'>Export</a>
            </div>
        </div>
        <div class="col12 row16 pad2y clip sliding h active1">

            {% include layer_ui.html %}

            <div class="col12 animate">
                {% include data_export.html %}
            </div>
        </div>
    </div>
    <div class="col8 row18 contain">
        <div id="map" style="z-index:0"></div>
    </div>
</div>

<!-- Legends -->
{% for layer in page.map_layers.layers %}{% if layer.legend_template %}
<div class="moabi-legend pad0y" data-id="{{layer.id}}">
    <div class="legend-category">
        <div class="symbol" style="background-color: {{layer.legend_color}}"></div>
        <span class="value">{{layer.name}}</span>
    </div>
    {% if layer.source.availability == 'Public' %}
        <div class="micro legend-source">
            <strong class="quiet">Source:</strong> {% if layer.source.url %}<a href="{{layer.source.url}}" class="desaturate">{{layer.source.name}}</a>{% else %}{{layer.source.name}}{% endif %}
        </div>
    {% else %}
        <div class="micro legend-source">
            <strong class="quiet">Source:</strong> {% if layer.source.url %}<a href="{{layer.source.url}}" class="desaturate">{{layer.source.name}}</a>{% else %}{{layer.source.name}}{% endif %}
        </div>
    {% endif %}
</div>
{% endif %}{% endfor %}
