---
layout: main
---
{% assign t = site.data.translations %}
<div class="fill-light strongline-bottom">
    <div class="limiter pad4y clearfix">
        <div class="col3 margin1r keyline-right space noprint">
            <h2 class="pad2x keyline-bottom space-bottom1">{{t.[page.language].header.about}}</h2>
            <ul class="nav space-bottom2">
                {% for about_page in site.tags.about reversed %}{% if about_page.language == page.language %}
                    <li class="pad1y">
                        <a href="{{site.baseurl}}{{about_page.url}}" class="{% if page.title == about_page.title %}active icon plus2{% endif %}" {% unless page.title == about_page.title %}style="margin-left: 17px"{% endunless %}>{{about_page.title}}</a>
                    </li>
                {% endif %}{% endfor %}
            </ul>
            <h2 class="pad2x keyline-bottom space-bottom1">{{t.[page.language].about.more}}</h2>
            <p class="pad2x small">{{t.[page.language].about.more_text}}</p>
        </div>
        <div class="col8 prose" style="padding: 28px 0;">
            {{content}}
        </div>
    </div>
</div>
