---
layout: main
header: sidebar
---
{% assign t = site.data.translations %}
<div class="fill-light v-stretch">
    <div class="pad4y clearfix">
        <div class="col3 margin1r pad4x keyline-right space mobile-center noprint">

            <h3 class="caps pad0y keyline-bottom space-bottom1">{{t.[page.language].header.about}}</h3>
            <ul class="nav space-bottom4">
                {% for about_page in site.tags.about reversed %}{% if about_page.language == page.language %}
                    <li class="pad0y">
                        <a href="{{site.baseurl}}{{about_page.url}}" class="{% if page.title == about_page.title %}active icon plus2 l-offset{% endif %}">{{about_page.title}}</a>
                    </li>
                {% endif %}{% endfor %}
            </ul>
            <h3 class="caps pad0y keyline-bottom space-bottom1">{{t.[page.language].about.more}}</h3>
            <p class="small">{{t.[page.language].about.more_text}}</p>
        </div>
        <div class="col7 margin1r prose mobile-pad">
            {{content}}
        </div>
    </div>
</div>
