---
layout: main
---
<section class="clearfix fill-light prose">
    <div class="limiter pad4y">
        {% if page.draft %}
            <h1 class="center"><em>------------ DRAFT ------------</em></h1>
        {% endif %}
        <h1 class="center"><a href="{{page.url}}">{{page.title}}</a></h1>
        <div class="center keyline-bottom quiet" style="padding-bottom:10px;">{{page.date | date: "%d %B, %Y"}} | {{page.author}}</div>
        {% if page.img %}
        <div class="clearfix">
            <div class="col10 margin1 margin1r pad1y center">
                <img src="{{page.img}}" alt="Blog Image">
            </div>
        </div>
        {% endif %}
        <div class="pad2y keyline-top">
            {{content}}
        </div>
        <div class="pad2y no-print">
            <a href="#" class="col12 button quiet print-page">Save/Print</a>
        </div>
    </div>
</section>
