---
---
<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<header class="fill-dark">
    <div class="limiter clearfix">
        <h1 class="nav col1 pad1y center"><a href="{{site.baseurl}}/">Moabi</a></h1>
        <a class="nav pad2 fr" href="http://osm.moabi.org/">Data</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xblog/{{page.language}}">Blog</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xprojects/{{page.language}}">Projects</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xabout/{{page.language}}">About</a>
    </div>
</header>

<div class="position">
    <a href="#" class="slide-control" data-slide="left">
        <span class="icon big arrow-left"></span>
    </a>
    <a href="#" class="slide-control" data-slide="right">
        <span class="icon big uniE687"></span>
    </a>
</div>

<section class="clearfix">
    <div class="limiter">
        <h1 class="center"><a href="{{page.url}}">{{page.title}}</a></h1>
        <div class="pad1 center keyline-bottom quiet">{{page.date | date: "%d %B, %Y"}}</div>
        {% if page.img %}
        <div class="clearfix">
            <div class="col10 margin1 margin1r pad1y">
                <img src="{{site.baseurl}}/img/{{page.img}}" alt="Blog Image">
            </div>
        </div>
        {% endif %}
        <div class="pad2y keyline-top">
            {{content}}
        </div>
    </div>
</section>

{% if page.basemap %}{% include parse_layers.html %}{% endif %}
<script src='{{site.baseurl}}/site.js'></script>
</body>
</html>
