---
---

<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<div id="map"></div>
{% if page.gradient %}<div class="gradient"></div>{% endif %}

<header class="header">
    {% include language_toggle.html %}
</header>

<div class="contentbar limiter">
    <div class="contentbar-header">
        <h1 class="landing-title center"><a href="{{site.baseurl}}/">Moabi</a></h1>
    </div>

    {% if page.intro %}
        <div class="main-panel intro active clearfix">
            <div class="titlefloat">
                <h1>{{page.intro.title}}</h1>
            </div>
            <p>{{page.intro.description_short}}</p>
            <p><em>Moabi DRC is currently under development.  Expect more soon...</em></p>
        </div>
    {% endif %}

    <ul class="boxmenu width-5 clearfix">
        <li><a href="{{site.baseurl}}/about.html" id="about" {% if page.id == "about" %}class="active"{% endif %} >About</a></li>
        <li><a href="{{site.baseurl}}/projects.html" id="projects" {% if page.id == "projects" %}class="active"{% endif %} >Projects</a></li>
        <li><a href="{{site.baseurl}}/blog.html" id="blog" {% if page.id == "blog" %}class="active"{% endif %} >Blog</a></li>
        <li><a href="{{site.baseurl}}/register.html" id="register" {% if page.id == "register" %}class="active"{% endif %} >Register</a></li>
        <li><a href="{{site.baseurl}}/data.html" id="edit" {% if page.id == "data" %}class="active"{% endif %} >Add/Edit Data</a></li>
    </ul>

    {% unless page.body == 'hide' %}
        <div class="contentbar-fill">
            <div class="main-panel active">
                {% if page.body.title %} <h1>{{page.body.title}}</h1> {% endif %}
                {% if page.body.description %} <p class="small">{{page.body.description}}</p> {% endif %}

                {{content}}
            </div>
        </div>
    {% endunless %}

</div>

    {% if page.basemap %}{% include parse_layers.html %}{% endif %}
	<script src='{{site.baseurl}}/site.js'></script>
</body>
</html>
