---
layout: main
header: sidebar
---
{% assign t = site.data.translations %}
<div class="fill-light">
    <div class="pad4y clearfix">
        <div class="col3 margin1r pad4x keyline-right space mobile-center noprint">

            <h3 class="caps">{{t.[page.language].documentation.guides}}</h3>
            <div class="pad0y keyline-bottom space-bottom1 small quiet">Learn more about the Moabi system with these introductory guides.</div>
            <ul class="nav space-bottom4">
                {% for guide in site.tags.guide reversed %}{% if guide.language == page.language %}
                    <li class="pad0y">
                        <a href="{{site.baseurl}}{{guide.url}}" class="{% if page.title == guide.title %}active icon plus2 l-offset{% endif %}">{{guide.title}}</a>
                    </li>
                {% endif %}{% endfor %}
            </ul>

            <h3 class="caps">{{t.[page.language].documentation.data_documentation}}</h3>
            <div class="pad0y keyline-bottom space-bottom1 small quiet">Look up documentation on the Moabi data structure.</div>
            <ul class="nav space-bottom4">
                {% for documentation in site.tags.data_documentation reversed %}{% if documentation.language == page.language %}
                    <li class="pad0y">
                        <a href="{{site.baseurl}}{{documentation.url}}" class="{% if page.title == documentation.title %}active icon plus2 l-offset{% endif %}">{{documentation.title}}</a>
                    </li>
                {% endif %}{% endfor %}
            </ul>

            <h3 class="caps">{{t.[page.language].documentation.training}}</h3>
            <div class="pad0y keyline-bottom space-bottom1 small quiet">Find training material on past Moabi deployments.</div>
            <ul class="nav space-bottom4">
                {% for train in site.tags.training reversed %}{% if train.language == page.language %}
                    <li class="pad0y">
                        <a href="{{site.baseurl}}{{train.url}}" class="{% if page.title == train.title %}active icon plus2 l-offset{% endif %}">{{train.title}}</a>
                    </li>
                {% endif %}{% endfor %}
            </ul>
        </div>

        <div class="col7 margin1r prose mobile-pad">
            {{content | markdownify }}

            <div class="pad2y no-print">
                <a href="#" class="col12 button quiet print-page">Save/Print</a>
            </div>
        </div>
    </div>
</div>


<script>
    {% include js/jquery-1.10.2.min.js %}

    (function(){
        $('.show-opt-row').on('click', function(e){
            e.preventDefault()
            e.stopPropagation()
            var $this = $(this),
                feature = $this.data('feature');


            $this.toggleClass('active');

            $this.parent('tr').siblings('tr.' + feature).toggleClass('active');
        });

        $('a[href^="#"]').on('click', function(event) {
            // console.log("clicked this: " + this);
            var target = $( $(this).attr('href') );
            if( target.length ) {
                //event.preventDefault();
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 700);
            }
        });
    })();
</script>
