---
---

<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<div id="map"></div>
{% if page.gradient %}<div class="gradient"></div>{% endif %}

<header class="fill-black">
    <div class="limiter clearfix">
        <div class="nav col3 center pad1"><a href="{{site.baseurl}}/xabout/{{page.language}}">About</a></div>
        <div class="nav col3 center pad1"><a href="{{site.baseurl}}/xblog/{{page.language}}">Blog</a></div>
        <div class="nav col3 center pad1"><a href="{{site.baseurl}}/xprojects/{{page.language}}">Projects</a></div>
        <div class="nav col3 center pad1"><a href="http://osm.moabi.org/">Data</a></div>
    </div>
</header>

<div class="content limiter fill-light scroll-styled">
    {% if page.intro %}
        <div class="col12 clearfix">
            <div class="col3 pad1">
                <h1 class="text-right">{{page.intro.title}}</h1>
            </div>
            <div class="col9 pad1 intro">{{page.intro.description}}</div>
        </div>
        <div class="margin3 pad1"><em>Moabi DRC is currently under development.  Expect more soon...</em></div>
    {% endif %}

    {{content}}


</div>

{% if page.basemap %}{% include parse_layers.html %}{% endif %}
<script src='{{site.baseurl}}/site.js'></script>
</body>
</html>
