---
---

<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<header class="fill-black">
    <div class="limiter clearfix">
        <h1 class="nav col1 pad1y center"><a href="{{site.baseurl}}">Moabi</a></h1>
        <a class="nav pad2 fr" href="http://osm.moabi.org/">Data</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xblog/{{page.language}}">Blog</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xprojects/{{page.language}}">Projects</a>
        <a class="nav pad2 fr" href="{{site.baseurl}}/xabout/{{page.language}}">About</a>
    </div>
</header>

<div class="fill-light slideshow">
    <a href="#" class="slide-control" data-slide="left">
        <span class="icon big arrow-left"></span>
    </a>
    <a href="#" class="slide-control" data-slide="right">
        <span class="icon big uniE687"></span>
    </a>

    {% if page.slideshow %}
        <div class="slide active" style="background-image: url('/img/wb_temp.jpg');" data-index="0">
            <div class="col12 pad2y clearfix dark pin-bottom limiter">
                <div class="col3 pad1y">
                    <h1 class="">{{page.slideshow.title}}</h1>
                </div>
                <div class="col9 pad1y intro">{{page.slideshow.description}}</div>
            </div>
        </div>
        {% for project in site.categories.project_en %}
            <div class="slide" style="background-image: url('{{project.img}}');" data-index="{{forloop.index}}">
                <div class="col12 pad2y clearfix dark pin-bottom limiter">
                    <div class="col3 pad1y">
                        <h1 class="">{{project.title}}</h1>
                    </div>
                    <div class="col9 pad1y intro">{{project.title}}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {{content}}

</div>


{% if page.basemap %}{% include parse_layers.html %}{% endif %}
<script src='{{site.baseurl}}/map.js'></script>
</body>
</html>

