---
---
<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<header class="fill-dark">
    <div class="limiter clearfix">
        <h1 class="nav col1 pad1y center"><a href="{{site.baseurl}}/">Moabi</a></h1>
        <a class="nav pad2 fr" href="http://osm.moabi.org/">Data</a>
        <a class="nav pad2 fr {% if page.id == 'blog' %}active{% endif %}" href="{{site.baseurl}}/xblog/{{page.language}}">Blog</a>
        <a class="nav pad2 fr {% if page.id == 'projects' %}active{% endif %}" href="{{site.baseurl}}/xprojects/{{page.language}}">Projects</a>
        <a class="nav pad2 fr {% if page.id == 'about' %}active{% endif %}" href="{{site.baseurl}}/xabout/{{page.language}}">About</a>
    </div>
</header>

{% if page.slideshow %}
<div class="slideshow fill-light row10">
    <div class="gradient"></div>
    <a href="#" class="slide-control" data-slide="left">
        <span class="icon big arrow-left"></span>
    </a>
    <a href="#" class="slide-control" data-slide="right">
        <span class="icon big uniE687"></span>
    </a>

    {% if page.slideshow.introslide %}
    <div class="slide active" style="background-image: url('/img/wb_temp.jpg');" data-index="0">
        <div class="col12 pad4y clearfix dark limiter pin-bottom">
            <div class="col3">
                <h1 class="">{{page.slideshow.introslide.title}}</h1>
            </div>
            <div class="col9">
                <p>{{page.slideshow.introslide.description}}</p>
                <p><em>Use the slide arrows to the left and right to explore Projects</em></p>
            </div>
        </div>
    </div>
    {% endif %}

    {% for project in site.categories.project_en %}
        <div class="slide" style="background-image: url('{{project.img}}');" data-index="{% if page.slideshow.introslide %}{{forloop.index}}{% else %}{{forloop.index0}}{% endif %}">
            <div class="col12 pad4y clearfix dark limiter pin-bottom">
                <div class="col3">
                    <h1 class="">{{project.title}}</h1>
                </div>
                <div class="col9">{{project.description}}</div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="fill-light">
    <div class="limiter">
        <div class="keyline-bottom clearfix pad1x pad2y mobile-cols" style="padding-top: 26px;">
            <span class="col1 icon big arrow-left"></span>
            <h1 class="col10 center">Browse Projects</h1>
            <span class="col1 icon big arrow-right text-right"></span>
        </div>
        <div class="clearfix pad1 mobile-cols">
            <h1 class="center pad1">Explore the Data</h1>
            <div class="margin6 icon big arrow-down"></div>
        </div>
    </div>
</div>
{% endif %}

{% if page.basemap %}
<div class="clearfix">
    <div class="layer-ui col4 row16 pad1 fill-dark dark activate">
    <div class="col12">
        <div class="filter-name text-right quiet pad0">Theme</div>
        <div class="rounded-toggle inline">
            <input id="allthemes" type="radio" name='theme' value="allthemes" checked='checked'>
            <label for="allthemes">All</label>
            <input id="concession" type="radio" name='theme' value="concession">
            <label for="concession">Concessions</label>
            <input id="rainforest" type="radio" name='theme' value="rainforest">
            <label for="rainforest">Rainforest</label>
            <input id="community" type="radio" name='theme' value="community">
            <label for="community">Community</label>
        </div>
    </div>
    <div class="col12">
        <div class="filter-name text-right quiet pad0">Type:</div>
        <div class="rounded-toggle inline">
            <input id="alltypes" type="radio" name='type' value="alltypes" checked='checked'>
            <label for="alltypes">All</label>
            <input id="raster" type="radio" name='type' value="raster">
            <label for="raster">Raster</label>
            <input id="vector" type="radio" name='type' value="vector">
            <label for="vector">Vector</label>
        </div>
    </div>

        <ul class="nodisplay sortable keyline-all scroll-styled">
            {% for layer in page.basemap.data_layers %}
                <li class="" data-index="{{forloop.index}}" data-categories="{% for category in layer.categories %}{{category}},{% endfor %}">
                    <a class="layer-toggle icon pad0 keyline-bottom" href="#" data-id="{{layer.id}}">{{layer.name}}</a>
                </li>
            {% endfor %}
        </ul>

        <ul class="display sortable keyline-all scroll-styled"></ul>

    </div>
    <div class="col8 row16 contain">
        <div id="map"></div>
    </div>
</div>
{% endif %}

{{content}}

<footer class="fill-gray">
    <div class="limiter">
        <h2 class="center pad1 quiet">PARTNERS</h2>
        <a href=""><img class="pad2" src="{{site.baseurl}}/img/OGF_logo_80.png" alt="OGF"></a>
        <a href=""><img class="pad2" src="{{site.baseurl}}/img/OSFAC_logo_80.png" alt="OSFAC"></a>
        <a href=""><img class="pad2" src="{{site.baseurl}}/img/IIASA_logo_80.png" alt="IIASA"></a>
    </div>
</footer>

{% if page.basemap %}{% include parse_layers.html %}{% endif %}
<script src='{{site.baseurl}}/map.js'></script>
</body>
</html>

