---
---
<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

{% include header.html %}

<div id="map"></div>

<div class="sidebar fill-light clearfix contain dropshadow-right strongline-right strongline-bottom">
    {% capture width_n %}width-{{page.main_panels.size}}{% endcapture %}
    <ul class="boxmenu {{width_n}} clearfix col12 caps">
        {% for main_panel in page.main_panels %}
        <li><a data-id="{{main_panel.id}}" class="{% if forloop.first %}active{% endif %}" href="#">{{main_panel.name}}</a></li>
        {% endfor %}
    </ul>

    <div class="sidebar-content col12 pad2 prose scroll-styled">
        {% for main_panel in page.main_panels %}
            <div data-id="{{main_panel.id}}" class="main-panel {%if forloop.first %}active{% endif %}">
                {% if main_panel.title %} <h2>{{main_panel.title}}</h2> {% endif %}
                {% if main_panel.description %} <p class="small">{{main_panel.description}}</p> {% endif %}

                {% if main_panel.panel_data %}
                    {% if main_panel.panel_data.aside %}
                        <div class="small space-bottom"><em>{{main_panel.panel_data.aside}}</em></div>
                    {% endif %}

                    {% capture event_handlers %}{% for action in main_panel.panel_data.actions %}{{action}} {% endfor %}{% endcapture %}


                    <div class="layer-ui col4 row16 pad1x pad4y fill-dark dark dropshadow-right activate">
                        <div class="col12">
                            <div class="filter-name text-right quiet pad0"><h3 class="light">Theme:</h3></div>
                            <div class="rounded-toggle inline">
                                <input id="allthemes" type="radio" name='theme' value="allthemes" checked='checked'>
                                <label for="allthemes">All</label>
                                <input id="concession" type="radio" name='theme' value="concession">
                                <label for="concession">Concessions</label>
                                <input id="rainforest" type="radio" name='theme' value="rainforest">
                                <label for="rainforest">Rainforest</label>
                                <input id="community" type="radio" name='theme' value="community">
                                <label for="community">Community</label>
                            </div>
                        </div>
                        <div class="col12">
                            <div class="filter-name text-right quiet pad0"><h3 class="light">Type:</h3></div>
                            <div class="rounded-toggle inline">
                                <input id="alltypes" type="radio" name='type' value="alltypes" checked='checked'>
                                <label for="alltypes">All</label>
                                <input id="raster" type="radio" name='type' value="raster">
                                <label for="raster">Raster</label>
                                <input id="vector" type="radio" name='type' value="vector">
                                <label for="vector">Vector</label>
                            </div>
                        </div>

                        <ul class="nodisplay sortable keyline-all scroll-styled">
                            {% for layer in page.basemap.data_layers %}
                                <li class="" data-index="{{forloop.index}}" data-categories="{% for category in layer.categories %}{{category}},{% endfor %}">
                                    <a class="layer-toggle icon pad0 keyline-bottom" href="#" data-id="{{layer.id}}">{{layer.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <ul class="display sortable keyline-all scroll-styled"></ul>

                    </div>

                    {% for minor_panel in main_panel.panel_data.data_elements %}
                        {% if minor_panel.description %}
                        <div class="minor-panel small" data-id="{{minor_panel.id}}">
                            <div class="clearfix">
                                <h3>{{minor_panel.name}}</h3>
                                <ul>
                                    <li>
                                        <p class="small">{{minor_panel.description}}</p>
                                    </li>
                                    <li>
                                        <div class="title">Availability</div>
                                        <div class="content">Public</div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="title">Data</div>
                                        <div class="content">
                                            <a href="#" class="print">Print</a>
                                            <a href="#" class="download">Download</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}


                {% if main_panel.panel_media %}
                    {% if main_panel.panel_media.aside %}
                        <div class="aside">{{main_panel.panel_media.aside}}</div>
                    {% endif %}
                    <div class="slideshow">
                        <a href="#" class="slide-control" data-slide="left">
                            <span class="icon big arrow-left"></span>
                        </a>
                        <a href="#" class="slide-control" data-slide="right">
                            <span class="icon big uniE687"></span>
                        </a>

                        {% for img in main_panel.panel_media.data_elements %}
                            <div class="slide {% if forloop.first %}active{% endif %}" style="background-image: url('{{img.url}}');" data-index="{{forloop.index}}"></div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if main_panel.panel_custom %}
                    {{content}}
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>

<!--
<div class="contentbar">
    <div class="contentbar-header">
        <h1 class="title">{{page.title}}</h1>
    </div>
    {% capture width_n %}width-{{page.main_panels.size}}{% endcapture %}
    <ul class="boxmenu {{width_n}} clearfix">
        {% for main_panel in page.main_panels %}
        <li><a data-id="{{main_panel.id}}" class="{% if forloop.first %}active{% endif %}" href="#">{{main_panel.name}}</a></li>
        {% endfor %}
    </ul>

    <div class="contentbar-fill">
        {% for main_panel in page.main_panels %}
        <div data-id="{{main_panel.id}}" class="main-panel {% if forloop.first %}active{% endif %}">
            {% if main_panel.title %} <h2>{{main_panel.title}}</h2> {% endif %}
            {% if main_panel.description %} <p class="small">{{main_panel.description}}</p> {% endif %}

            {% if main_panel.panel_data %}
                {% if main_panel.panel_data.aside %}
                    <div class="aside">{{main_panel.panel_data.aside}}</div>
                {% endif %}

                {% capture event_handlers %}
                    {% for action in main_panel.panel_data.actions %}{{action}} {% endfor %}
                {% endcapture %}

                <ul class="{{main_panel.panel_data.ui_style}} {{event_handlers}}">
                    {% for button in main_panel.panel_data.data_elements %}
                        <li>
                            <a class="ui-button {% if {{event_handlers}} contains 'toggle-layer' %}rcon float layer-toggle{% endif %}"
                            {% if {{event_handlers}} contains 'toggle-layer' or {{event_handlers}} contains 'minor-panel-viewer' %}data-id="{{button.id}}"{% endif %}
                            {% if {{event_handlers}} contains 'navigate' %}data-nav='["{{button.lat}}", "{{button.lon}}", "{{button.zoom}}"]'{% endif %}
                            href="#">{{button.name}}</a>
                        </li>
                    {% endfor %}
                </ul>

                {% for minor_panel in main_panel.panel_data.data_elements %}
                    {% if minor_panel.description %}
                    <div class="minor-panel small" data-id="{{minor_panel.id}}">
                        <div class="clearfix">
                            <h3>{{minor_panel.name}}</h3>
                            <ul>
                                <li>
                                    <p class="small">{{minor_panel.description}}</p>
                                </li>
                                <li>
                                    <div class="title">Availability</div>
                                    <div class="content">Public</div>
                                </li>
                                <li class="clearfix">
                                    <div class="title">Data</div>
                                    <div class="content">
                                        <a href="#" class="print">Print</a>
                                        <a href="#" class="download">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            {% endif %}


            {% if main_panel.panel_media %}
                {% if main_panel.panel_media.aside %}
                    <div class="aside">{{main_panel.panel_media.aside}}</div>
                {% endif %}
                <div class="slideshow">
                    <a href="#" class="slide-control" data-slide="left">
                        <span class="icon big arrow-left"></span>
                    </a>
                    <a href="#" class="slide-control" data-slide="right">
                        <span class="icon big uniE687"></span>
                    </a>

                    {% for img in main_panel.panel_media.data_elements %}
                        <div class="slide {% if forloop.first %}active{% endif %}" style="background-image: url('{{img.url}}');" data-index="{{forloop.index}}"></div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if main_panel.panel_custom %}
                {{content}}
            {% endif %}

        </div>
        {% endfor %}


    </div>
</div> -->


    {% if page.basemap %}{% include parse_layers.html %}{% endif %}
    <script src='{{site.baseurl}}/map.js'></script>
</body>
</html>
