---
---
<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

{% include header.html %}

<div id="map"></div>

<div class="sidebar col12 pad2 scroll-styled fill-light strongline-right dropshadow-right">
    <div class='tabs col8 margin2 space-bottom'>
        <a href='#active1' class='col6 active'>Report</a><!--
     --><a href='#active2' class='col6'>Data</a>
    </div>
    <div class="prjslide-container col12 clip sliding h active1">
        {% for prjslide in page.report %}
            <div class="prjslide col12" style="height: 100%">
                <h2>{{prjslide.title}}</h2>
                <p class="prose">{{prjslide.text}}</p>
                <div class="tabs single-tab col2 margin5 margin5r pin-bottom">
                    <a href="#">Next Page</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    {% if page.basemap %}{% include parse_layers.html %}{% endif %}
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>
    <script src='{{site.baseurl}}/map.js'></script>
</body>
</html>
