---
---

<!doctype html>
<html>
<head>
    {% include dochead.html %}
</head>

<body>

<div id="map"></div>

<header class="header">
    {% include language_toggle.html %}
    <a class="nav home" href="{{site.baseurl}}/">Home</a>
</header>

<div class="contentbar">
    <div class="contentbar-header">
        <h1 class="title">{{page.title}}</h1>
    </div>
    {% capture width_n %}width-{{page.main_panels.size}}{% endcapture %}
    <ul class="boxmenu {{width_n}} clearfix">
        {% for main_panel in page.main_panels %}
        <li><a data-id="{{main_panel.id}}" class="{% if forloop.first %}active{% endif %}" href="#">{{main_panel.name}}</a></li>
        {% endfor %}
    </ul>

    <div class="contentbar-fill">
        {% for main_panel in page.main_panels %}
        <div data-id="{{main_panel.id}}" class="main-panel {% if forloop.first %}active{% endif %}">
            {% if main_panel.title %} <h2>{{main_panel.title}}</h2> {% endif %}
            {% if main_panel.description %} <p class="small">{{main_panel.description}}</p> {% endif %}

            {% if main_panel.panel_data %}
                {% if main_panel.panel_data.aside %}
                    <div class="aside">{{main_panel.panel_data.aside}}</div>
                {% endif %}

                {% capture event_handlers %}
                    {% for action in main_panel.panel_data.actions %}{{action}} {% endfor %}
                {% endcapture %}

                <ul class="{{main_panel.panel_data.ui_style}} {{event_handlers}}">
                    {% for button in main_panel.panel_data.data_elements %}
                        <li>
                            <a class="ui-button {% if {{event_handlers}} contains 'toggle-layer' %}rcon float layer-toggle{% endif %}"
                            {% if {{event_handlers}} contains 'toggle-layer' %}data-id="{{button.id}}"{% endif %}
                            {% if {{event_handlers}} contains 'navigate' %}data-nav='["{{button.lat}}", "{{button.lon}}", "{{button.zoom}}"]'{% endif %}
                            href="#">{{button.name}}</a>
                        </li>
                    {% endfor %}
                </ul>

                {% for minor_panel in main_panel.panel_data.data_elements %}
                    {% if minor_panel.description %}
                    <div class="minor-panel small" data-id="{{minor_panel.id}}">
                        <div class="clearfix">
                            <h3>{{minor_panel.name}}</h3>
                            <ul>
                                <li>
                                    <p class="small">{{minor_panel.description}}</p>
                                </li>
                                <li>
                                    <div class="title">Availability</div>
                                    <div class="content">Public</div>
                                </li>
                                <li class="clearfix">
                                    <div class="title">Data</div>
                                    <div class="content">
                                        <a href="#" class="print">Print</a>
                                        <a href="#" class="download">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            {% endif %}

        </div>
        {% endfor %}


    </div>
</div>


{{content}}

    {% if page.basemap %}{% include parse_layers.html %}{% endif %}
    <script src='{{site.baseurl}}/map.js'></script>
</body>
</html>
