---
layout: main
header: sidebar
footer: hide
---
{% assign t = site.data.translations %}
<div id="sbar" class="fill-light strongline-right dropshadow-right{% if page.footer == 'hide'%} no-footer{% endif %}">

    <!-- sidebar slider -->
    <div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px">
        <div class='slider tabs col10 margin1 mobile-cols space-bottom1 clearfix'>
            <a data-index="1" class='col6 active'>{{t.[page.language].sidebar_slider.report}}</a><!--
         --><a data-index="2" class='col2'>{{t.[page.language].sidebar_slider.map_layers}}</a><!--
         --><a data-index="3" class='col2'>{{t.[page.language].sidebar_slider.export}}</a><!--
         --><a class='col2 page-fade-link' id="id-edit" href="http://osm.moabi.org/edit?editor=id">{{t.[page.language].sidebar_slider.edit}}</a>
        </div>
    </div>

    <div class="col12 clip sliding h active1" style="height: calc(100% - 50px)">
        <!-- Report -->
        <div class="report-panel col12 prose animate">
            {% for report in page.report %}
                <section class="page" data-index="{{forloop.index}}" data-ixcount="{{forloop.length}}"{% if report.zoom_to %} data-nav='["{{report.zoom_to.lat}}", "{{report.zoom_to.lon}}", "{{report.zoom_to.zoom}}"]'{% endif %}{% if report.layers %} data-id='[{% for layer in report.layers %}"{{layer}}"{% unless forloop.last %} ,{% endunless %}{% endfor %}]'{% endif %}{% if forloop.last %} style="margin-bottom:0px"{% else %} style="margin-bottom:80px"{% endif %}>

                    <h2 class="prose serif keyline-bottom" style="margin-bottom:10px">{{report.title}}</h2>
                    {% if forloop.first and page.author %}
                        <div class="serif small"><strong>By {{page.author}}</strong></div>
                        <div class="serif space-bottom2 small">{{page.date | date:"%B %-d, %Y"}}</div>
                    {% endif %}

                    {% if report.attachments and report.attachments.size %}
                        <div class="space-bottom1">
                            <div class="row6 space-bottom1" style="background-image: url({{report.attachments.first}}); background-size: cover;"></div>

                            <!-- not currently configurable by report author -->
                            {% if page.img_caption %}
                                <div class="quiet small">{{page.img_caption}}</div>
                            {% endif %}
                            {% if page.img_source %}
                                <div class="quiet micro">Source: {{page.img_source}}</div>
                            {% endif %}
                        </div>
                    {% elsif forloop.first and page.img %}
                        <div class="row6 space-bottom1" style="background-image: url({{page.img}}); background-size: cover;"></div>
                    {% endif %}

                    <p class="prose space-bottom4">{{report.text}}</p>

                </section>
            {% endfor %}
        </div>

        <!-- Data -->
        <div class="sidebar-panel col12 animate">
            <h2 class="space-bottom1 ">Featured Map Layers</h2>
            <p class="small quiet">Click on a layer to add it to the map</p>
            {% include layer_ui.html %}
        </div>

        <!-- Export -->
        <div class="sidebar-panel col12 animate">
            {% include data_export.html %}
        </div>

    </div>
</div>

<!-- map -->
{% include map.html %}

{{content}}

