---
hide: [footer]
---
{% assign t = site.data.translations %}

<!doctype html>
<html>
<head>
  {% include dochead.html %}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.js'></script>
  <script src="{{site.baseurl}}/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="{{site.baseurl}}/js/vendor/leaflet-hash.js"></script>
  <script src="{{site.baseurl}}/js/vendor/leaflet-image.js"></script>
  <script src="{{site.baseurl}}/js/vendor/waypoints.min.js"></script>
</head>

<body>
{% unless page.hide contains 'header' %}
  {% include header.html %}
{% endunless %}

<div id="sidebar" class="left-bar fill-light strongline-right dropshadow-right{% if page.hide contains 'footer'%} no-footer{% endif %}">

    <!-- sidebar slider -->
    <div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px">
        <div class='slider tabs col10 pad0x margin1 mobile-cols space-bottom1 clearfix'>
            <a data-index="1" class='col3 active'>{{t.[page.language].sidebar_slider.report}}</a><!--
         --><a data-index="2" class='col3'>{{t.[page.language].sidebar_slider.map_layers}}</a><!--
         --><a data-index="3" class='col3'>{{t.[page.language].sidebar_slider.export}}</a><!--
         --><a class='col3 page-fade-link' id="id-edit" href="http://osm.moabi.org/edit?editor=id">{{t.[page.language].sidebar_slider.edit}}</a>
        </div>
    </div>

    <div class="col12 clip sliding h active1" style="height: calc(100% - 50px)">
        <!-- Report -->
        <div class="report-panel col12 scroll-styled pad2 prose animate" style="height:100%;">
            {% for report in page.report %}
                <section class="animate {%if forloop.first%}active{%endif%}"
                data-index="{{forloop.index}}"
                {% if report.zoom_to %} data-nav='["{{report.zoom_to.lat}}", "{{report.zoom_to.lon}}", "{{report.zoom_to.zoom}}"]'{% endif %}
                {% if report.layers %} data-id='[{% for layer in report.layers %}"{{layer}}"{% unless forloop.last %} ,{% endunless %}{% endfor %}]'{% endif %}>

                    <h2 class="prose serif keyline-bottom" style="margin-bottom:10px">{{report.title}}</h2>
                    {% if forloop.first and page.author %}
                        <div class="serif small"><strong>By {{page.author}}</strong></div>
                        <div class="serif space-bottom2 small">{{page.date | date:"%B %-d, %Y"}}</div>
                    {% endif %}

                    {% if report.attachments and report.attachments.size %}
                        <div class="space-bottom1">
                            <div class="row6 space-bottom1" style="background-image: url({{report.attachments.first}}); background-size: cover;"></div>

                            <!-- not currently configurable by report author -->
                            {% if page.img_caption %}
                                <div class="quiet small">{{page.img_caption}}</div>
                            {% endif %}
                            {% if page.img_source %}
                                <div class="quiet micro">Source: {{page.img_source}}</div>
                            {% endif %}
                        </div>
                    {% elsif forloop.first and page.img %}
                        <div class="row6 space-bottom1" style="background-image: url({{page.img}}); background-size: cover;"></div>
                    {% endif %}

                    <p class="prose space-bottom4">{{report.text}}</p>

                </section>
            {% endfor %}
        </div>

        <!-- Data -->
        <div class="col12 scroll-styled pad2 animate" style="height:100%;">
            <h2 class="space-bottom1 ">Featured Map Layers</h2>
            <p class="small quiet">Click on a layer to add it to the map</p>
            {% include layer_ui.html %}
        </div>

        <!-- Export -->
        <div class="col12 scroll-styled pad2 animate" style="height:100%;">
            {% include data_export.html %}
        </div>

    </div>
</div>

<!-- map -->
{% include map.html %}

{{content}}

{% unless page.hide contains 'footer' %}
  {% include footer.html %}
{% endunless %}

{% include parse_layers.html %}
<script src='{{site.baseurl}}/js/map.js'></script>
<script>
  moabi.initMap();
  moabi.initReport();
</script>

</body>
</html>
