---
layout: main
header: sidebar
footer: hide
---
{% assign t = site.data.translations %}
<div id="sbar" class="fill-light strongline-right dropshadow-right{% if page.footer == 'hide'%} no-footer{% endif %}">

    <!-- sidebar slider -->
    <div class="tab-group col12 clearfix keyline-bottom" style="margin-top: 8px">
        <div class='slider tabs col10 margin1 mobile-cols space-bottom1 clearfix'>
            <a data-index="1" class='col6 active'>{{t.[page.language].sidebar_slider.report}}</a><!--
         --><a data-index="2" class='col2'>{{t.[page.language].sidebar_slider.map_layers}}</a><!--
         --><a data-index="3" class='col2'>{{t.[page.language].sidebar_slider.export}}</a><!--
         --><a class='col2 page-fade-link' id="id-edit" href="http://osm.moabi.org/edit?editor=id">{{t.[page.language].sidebar_slider.edit}}</a>
        </div>
    </div>

    <div class="col12 clip sliding h active1" style="height: calc(100% - 50px)">
        <!-- Report -->
        <div class="report-panel prose clip sliding v active1 animate">
            {% for report in page.report %}
                <section class="col12 animate" style="height: 100%" data-index="{{forloop.index}}" data-ixcount="{{forloop.length}}"{% if report.zoom_to %} data-nav='["{{report.zoom_to.lat}}", "{{report.zoom_to.lon}}", "{{report.zoom_to.zoom}}"]'{% endif %}{% if report.layers %} data-id='[{% for layer in report.layers %}"{{layer}}"{% unless forloop.last %} ,{% endunless %}{% endfor %}]'{% endif %}>

                    {% unless forloop.first %}
                        <a href="#" class="col12 report-slider h animate quiet center" data-slide="up">
                            <div class="icon arrow-up"></div>
                            <div class="small">{{t.[page.language].report.page_up}}</div>
                        </a>
                    {% endunless %}

                    <h2 class="prose serif pad1y space-bottom2 keyline-bottom">{{report.title}}</h2>

                    {% if forloop.first and page.img %}
                        <div class="space-bottom1">
                            <div class="row6 space-bottom1" style="background-image: url({{page.img}}); background-size: cover;"></div>
                            {% if page.img_caption %}
                                <div class="quiet small">{{page.img_caption}}</div>
                            {% endif %}
                            {% if page.img_source %}
                                <div class="quiet micro">Source: {{page.img_source}}</div>
                            {% endif %}
                        </div>
                        {% if page.author %}<div class="space-bottom2 small">By {{page.author}}</div>{% endif %}
                    {% endif %}

                    <p class="prose space-bottom4">{{report.text}}</p>
                    {% unless forloop.last %}
                        <a href="#" class="col12 report-slider h animate quiet center pad4y" data-slide="down">
                            <div class="small">{{t.[page.language].report.page_down}}</div>
                            <div class="icon arrow-down"></div>
                        </a>
                    {% endunless %}

                </section>
            {% endfor %}
        </div>

        <!-- Data -->
        <div class="sidebar-panel col12 animate">
            <h2 class="space-bottom1 ">Featured Map Layers</h2>
            <p class="small quiet">Click on a layer to add it to the map</p>
            {% include layer_ui.html %}
        </div>

        <!-- Export -->
        <div class="sidebar-panel col12 animate">
            {% include data_export.html %}
        </div>

    </div>
</div>

<!-- map -->
{% include map.html %}

{{content}}

