---
map_layers:
    filter:
    layers:
      - id: moabi_forest_cover
        name: UMD Forest Cover (2012)
        categories: [forestry, raster]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_forest_lossyear
        name: UMD Forest Loss (2001 - 2012)
        categories: [forestry, raster]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_redd_projects
        name: REDD+ Projects
        categories: []
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_protected
        name: Protected Forest Areas
        categories: [forestry]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_community_mapping
        name: Community Mapping
        categories: [indigenous]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_indigenous
        name: Indigenous Lands
        categories: [indigenous]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_energy
        name: Energy
        categories: [infrastructure]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_logging
        name: Logging Concessions
        categories: [forestry, concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_mining
        name: Mining Concessions
        categories: [concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Proprietary

      - id: moabi_oil
        name: Oil Concessions
        categories: [concession]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public
        tooltip: name

      - id: moabi_palm
        name: Palm Concessions
        categories: [concession, forestry]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made.
        source: Congolese Ministry of the Environment
        availability: Public

      - id: moabi_transport
        name: Road Rehabilitation Projects
        categories: [infrastructure]
        description: This map layer charts total forest loss from 2000 - 2010.  Deforestation and forest degredation can be caused by multiple factors, both natural and man made. Forest loss surrounding city centers is likely due to urban sprawl; loss patterns in orderly, rectangular grids are likely the result of industrial logging; while loss with no discernable pattern is likely due to natural causes or artisanal logging.
        source: Congolese Ministry of the Environment
        availability: Public
---
<html>
<head>
    {% include dochead.html %}
    <style>
        #map { z-index: 0; }
    </style>
</head>

<body>

<div id="map"></div>
<div style="display: none;">
    {% include layer_ui.html %}
</div>

{{content}}

{% include parse_layers.html %}
<script src='{{site.baseurl}}/map.js'></script>
</body>
</html>
